<module title="Conclusion"
module-name="conclusion"
>
<section id="conclusion" title="Conclusion">
<p>
Au cours de cette formation, nous avons vu les concepts et constructions principales
du langage OCaml, ainsi qu'une partie des bibliothèques fournies en standard.
</p>
<p>
Ce langage est bâti sur des bases théoriques solides avancées et propose plusieurs
paradigmes de programmation (fonctionnelle, impérative, objets).
Il possède un grand pouvoir d'expressivité, notamment grâce au polymorphisme
et aux fonctions de 1<sup>er</sup> ordre.
</p>
<p><cmp>Les types structurés et les types abstraits permettent d'aborder les
problèmes d'algorithmique et leurs structures de données complexes tout en
s'abstrayant des problèmes de représentation mémoire et d'allocation.
Le modèle théorique fonctionnel sous-jacent au langage fournit une introduction
précise aux notions d'évaluation et de typage dont "l'honnête programmeur"
se doit d'être instruit.
Les différents modèles de programmation peuvent être abordés indépendamment les
uns des autres: de la structuration modulaire ou par objets des logiciels à la
programmation système de bas niveau, il est peu de domaines où OCaml ne soit
pas pertinent.
Son adéquation avec la programmation symbolique en fait un excellent support
pour des enseignements théoriques comme la compilation ou l'intelligence
artificielle.
</cmp>
</p>
<p>
<cmp>Un des premiers sujets de satisfaction du développement en OCaml est son confort
d'utilisation. Le compilateur se charge rapidement et son inférence statique de
types ne laisse rien échapper. D'autres analyses statiques du code donnent de
précieux indices d'anomalies sinon d'erreurs pour le programmeur: les filtrages
incomplets sont signalés, l'application partielle d'une fonction dans une
séquence est détectée, etc. À ce premier sujet de satisfaction s'en ajoute
un second: le compilateur engendre très rapidement un code efficace.</cmp>
</p>
<p>
Plusieurs aspects du langage n'ont pas été abordés, notamment:
</p>
<ul>
<li>les modules récursifs,</li>
<li>les types variants polymorphes,</li>
<li>les GADTs (Generalized Algebraic Data Types).</li>
</ul>
<p>
Nous n'avons pas abordé non plus certains aspects techniques:
</p>
<ul>
<li>les possibilités d'interface avec les langages C et Fortran,
permettant la réalisation de <em>bindings</em> avec les bibliothèques
développées dans ces langages (Gtk, ...),</li>
<li>la gestion de la mémoire.</li>
</ul>
<p>
Ces aspects pourraient être développés dans des formations ultérieures.
</p>
</section>

<section id="goingfurther" title="Pour aller plus loin">
<p>
En plus des documentations indiquées dans la <doc href="presentation#documentations">présentation</doc>,
on pourra consulter les références suivantes pour continuer son apprentissage
du langage et des concepts, dans différents domaines d'application:
</p>
<ul>
<li>Le livre <cite href="rwo"/>, disponible en ligne, offre un bon panorama
  d'utilisations d'OCaml, avec des exemples pratiques utilisant des bibliothèques
  dans différents domaines (concurrence, réseau, JSON, ...),
</li>
<li>Le livre <cite href="WeisLeroyCaml"/>
 de Pierre Weis et Xavier Leroy est un cours de programmation utilisant Caml-light;
 il est cependant une très bonne introduction à la programmation fonctionnelle,
</li>
<li>Le livre <cite href="apprendreavecocaml"/> est un cours de programmation
  basé sur OCaml,
</li>
<li>Le livre <cite href="chailloux2000"/> dont est inspirée
cette formation présente tous les aspects du langage et les bibliothèques fournies,
à l'aide de nombreux exemples dans de nombreux domaines (communication, concurrence,
graphisme, interfaces utilisateurs, ...),
</li>

<li><cite href="sysocaml"/> est un cours de programmation
système dans lequel OCaml remplace le langage C utilisé traditionnellement pour ce
genre de cours (et <cite href="sysocaml_en"/> en est la traduction en anglais),
</li>

<li>Les notes de cours
<exta href="https://caml.inria.fr/pub/docs/u3-ocaml/index.html">"Using,
Understanding, and Unraveling The OCaml Language"</exta>
introduisent les concepts théoriques sur lesquels
est basé OCaml avec des exemples pratiques,
</li>

<li>Le livre <cite href="ocaml4scientists"/> introduit la programmation en OCaml
sous l'angle de ses utilisations pour le calcul scientifique; cet ouvrage est
disponible dans les centres de documentation des centres de Rocquencourt et Grenoble.
</li>

<li>Une <exta href="https://ocaml.org/learn/books.html">liste de livres</exta>
 sur OCaml et/ou la programmation fonctionnelle.</li>
 </ul>
</section>
</module>
