<module title="Environnement de développement"
module-name="env"
>
<p>
Ci-dessous figurent différents outils, bibliothèques, extensions, ...,
concernant l'environnement de développement OCaml.
</p>

<section id="compilation" title="Compilation, liaison et construction">
<p>
La distribution d'OCaml fournit différents outils destinés à la compilation:
</p>
<dl>
<dt><icode>ocamlc</icode>, <icode>ocamlc.opt</icode></dt>
<dd>Compilateur vers du code-octet, en version code-octet ou en version native
<seemanual href="&lt;urldococamlc/&gt;"/></dd>

<dt><icode>ocamlopt</icode>, <icode>ocamlopt.opt</icode></dt>
<dd>Compilateur vers du code natif, en version code-octet ou en version native
<seemanual href="&lt;urldococamlopt/&gt;"/></dd>

<dt><icode>ocamlmklib</icode></dt>
<dd>Génération de bibliothèques contenant du code C et du code OCaml
<seemanual href="&lt;urldococamlopt/&gt;"/></dd>

<dt><icode>ocamlcp</icode></dt>
<dd>Frontal à ocamlc permettant d'instrumenter le code pour utiliser le profileur</dd>
</dl>
<p>
Les compilateurs OCaml fonctionnant en ligne de commande avec pléthore d'options,
ils sont largement compatibles avec les outils de construction (<em>build</em>)
"traditionnels" ou peuvent être appelés depuis des environnements intégrés.
Citons quelques possibilités parmi les plus répandues:
</p>
<dl>
<dt><exta href="&lt;urldune/&gt;">Dune</exta></dt>
<dd>Un outil de compilation automatique de code OCaml à partir d'une description
du projet (noms des exécutables, bibliothèques utilisées, ...). C'est l'outil
standard utilisé dans les nouveaux projets OCaml.</dd>

<dt><exta href="https://mmottl.github.io/ocaml-makefile">OCamlMakefile</exta></dt>
<dd>Ce Makefile générique simplifie l'utilisation de Make pour OCaml.</dd>

<dt><exta href="http://projects.camlcity.org/projects/findlib.html">Findlib</exta> (OCamlfind)</dt>
<dd>Un gestionnaire d'installation de paquets pour OCaml. Il fournit une commande,
<icode>ocamlfind</icode>, pour compiler des fichiers OCaml, prenant en charge les
options nécessaires pour utiliser les paquets OCaml installés, ce qui simplifie
les commandes à indiquer par exemple dans les Makefiles.</dd>

<dt><exta href="http://projects.camlcity.org/projects/omake.html">OMake</exta></dt>
<dd>Un système semblable à Make et supportant d'autres langages qu'OCaml.
</dd>
<!--
<dt><exta href="http://www.typerex.org/ocp-build.html">ocp-build</exta></dt>
<dd>Un autre système de construction permettant la description de paquets et
la compilation en parallèle.</dd>
-->

<dt><icode>ocamldep</icode></dt>
<dd>Cet outil inclus dans la distribution OCaml analyse des fichiers sources
et génère leurs dépendances dans un format compris par l'outil Make. Cela permet
de ne pas avoir à indiquer explicitement les dépendances pour la compilation
séparée des modules à l'aide d'un Makefile.
<seemanual href="&lt;urlocamldep/&gt;"/>
</dd>
</dl>

</section>

<section id="toplevels" title="Interprètes">
<p>
L'interprète (<em>toplevel</em>) <icode>ocaml</icode>, inclus dans la distribution
évalue au vol le code OCaml qui lui est passé. Il peut interpréter des fichiers
passés sur la ligne de commande ou bien
se comporter comme un shell et interpréter les phrases que l'utilisateur saisit.
<seemanual href="&lt;urldoctoplevel/&gt;"/>
</p>
<p>
<exta href="&lt;urlutop/&gt;">UTop</exta> est un interprète amélioré, avec édition de ligne,
complétion, couleurs, ...
</p>
<p>
<exta href="&lt;urltryocaml/&gt;">Try OCaml</exta> est un interprète OCaml
compilé vers Javascript pour une exécution dans un navigateur web.
</p>
</section>

<section id="debug" title="Profilage et débogage">
<p>
La distribution OCaml fournit un débogueur, <icode>ocamldebug</icode>, permettant de suivre
l'exécution d'un programme pas à pas, de revenir en arrière, d'inspecter des valeurs,
mettre des points d'arrêt. Le programme doit être compilé en code-octet avec l'option
<icode>-g</icode>. <seemanual href="&lt;urlocamldebug/&gt;"/>
</p>
<p>
La distribution inclut également un profileur, <icode>ocamlprof</icode>, capable d'afficher
le nombre de passages à chaque point d'un programme compilé avec <icode>ocamlcp</icode>.
<seemanual href="&lt;urlocamlprof/&gt;"/>
</p>
<p>
On pourra également utiliser l'outil GNU <icode>gprof</icode> par exemple pour afficher le temps
passé dans chaque fonction.
</p>
<!--
<p>Signalons également <exta href="http://memprof.typerex.org/">OCaml Memory Profiler</exta>
permettant une visualisation des allocations par type de données.
</p>
-->
</section>

<section id="preproc" title="Pré-processeurs, extensions">
<p>
Les outils de pre-processing permettent de définir des extensions de syntaxe
du langage afin par exemple de simplifier l'écriture de certaines constructions
répétitives, de générer automatiquement du code pour chaque déclaration
de type (comme des fonctions de lecture/écriture), ...
</p>
<p>Les compilateurs OCaml ont une option <icode>-pp</icode> permettant de spécifier une
commande de pré-traitement du fichier source à compiler.
</p>
<p>Historiquement, deux préprocesseurs ont fait partie de la distribution OCaml.
Un premier outil nommé Camlp4 était inclus dans la distribution OCaml. Il a
par la suite été remplacé par un <exta href="&lt;urlcamlp4/&gt;">nouveau Camlp4</exta>,
qui a lui aussi été sorti de la distribution OCaml et
développé séparément, notamment pour pouvoir sortir des versions plus
souvent. Le premier Camlp4 s'appelle maintenant <exta href="&lt;urlcamlp5/&gt;">Camlp5</exta>
et est donc lui aussi développé séparément.
</p>
<since-version v="4.01.0">
<p>Les compilateurs OCaml ont également une option <icode>-ppx</icode>
permettant de spécifier un outil de modification de l'arbre de syntaxe
abstraite. Une commande ainsi spécifiée est donc appelée <em>après</em>
l'analyse syntaxique du fichier source et elle doit retourner un
arbre syntaxique. Ce mode de fonctionnement vise à faciliter le développement
d'extensions. De plus, il est possible de spécifier plusieurs commandes
(avec plusieurs options <icode>-ppx</icode>) de façon à combiner les
extensions (les pré-processeurs ainsi spécifiés sont appelés séquentiellement).
Les préprocesseurs camlp* sont
maintenant progressivement abandonnés au profit des ppx.
</p>
<p>
Des modules de la distribution OCaml offrent des facilités pour développer
de tels pré-processeurs
(<exta href="https://github.com/ocaml/ocaml/blob/trunk/parsing/ast_mapper.mli"><ml>Ast_mapper</ml></exta>,
<exta href="https://github.com/ocaml/ocaml/blob/trunk/parsing/ast_helper.mli"><ml>Ast_helper</ml></exta>). Le paquet <exta href="https://github.com/alainfrisch/ppx_tools">ppx_tools</exta> contient des outils et extensions ppx pour écrire des extensions ppx.
</p>
</since-version>
<since-version v="4.02.0">
<p>En plus de l'option <icode>-ppx</icode>, le langage a été enrichi par la
possibilité de définir des "points d'extension" (<em>extension points</em>
ou <em>extension nodes</em>) <seemanual href="&lt;urldococamlextnodes/&gt;"/>.
Il s'agit d'une syntaxe utilisable à peu près partout en lieu et place
d'une expression, d'un filtre, d'une définition de module, ... Il revient
aux pré-processeurs ppx de transformer ces points d'extensions en construction
OCaml "normales" (sinon le compilateur OCaml termine en erreur, aucune sémantique
n'étant associée à ces points d'extension).
On pourra lire <exta href="https://whitequark.org/blog/2014/04/16/a-guide-to-extension-points-in-ocaml/">ce billet (en anglais)</exta> pour un exemple complet.
</p>
</since-version>
</section>

<section id="doc" title="Documentation">
<p>
L'outil <exta href="&lt;urlocamldoc/&gt;"><icode>ocamldoc</icode></exta> (ou <icode>ocamldoc.opt</icode> pour la version en code natif)
inclus dans la distribution est l'équivalent de <icode>javadoc</icode> ou
<icode>doxygen</icode> pour OCaml.
Il permet de générer une documentation de référence en utilisant des commentaires formattés.
<seemanual href="&lt;urlocamldoc/&gt;"/>
</p>
<p>
Ces commentaires sont des commentaires OCaml habituels, sauf qu'ils commencent par
<icode>(**</icode> au lieu de <icode>(*</icode>. Ils se terminent comme les commentaires
normaux par <icode>*)</icode>.
Le principe général est de placer un commentaire spécial juste au-dessus ou en-dessous
de l'élément (valeur, type, module, ...) commenté.
</p>
<p>
OCamldoc permet de générer des documentations aux formats <latex>\LaTeX</latex>,
HTML, Texinfo, pages man.
Il est également possible de définir son propre générateur et d'ajouter des éléments
de syntaxe pour générer des documentations spécialisées.
</p>
</section>

<section id="edition" title="Edition de code">
<p>
Avec le temps, plusieurs solutions d'édition de code OCaml ont vu le jour:
</p>
<dl>
<dt><exta href="https://github.com/ocaml/caml-mode">Le mode <b>Emacs</b> standard</exta></dt>
<dd>Un mode Emacs offrant la coloration
syntaxique, l'indentation et l'accès aux commandes de compilation, l'affichage des annotations
de type, ...</dd>

<dt><exta href="https://github.com/ocaml/tuareg/">Tuareg</exta></dt>
<dd>Un autre mode Emacs.</dd>

<dt><exta href="https://github.com/the-lambda-church/merlin">Merlin</exta></dt>
<dd>Outil fournissant une fonctionnalité de complétion qu'il est possible d'interroger
depuis son éditeur préféré. Fournit également le support pour Emacs et Vim.</dd>

<dt><exta href="https://github.com/whitequark/sublime-better-ocaml">Sublime-better-ocaml</exta></dt>
<dd>Un mode OCaml alternatif pour Sublime Text.</dd>


<dt><exta href="https://www.typerex.org/">Typerex</exta></dt>
<dd>Une suite d'outils offrant des fonctionnalités avancées (refactoring,
navigation, ...) avec des commandes emacs.</dd>

<dt><exta href="https://www.typerex.org/ocaml-top.html">OCaml-top</exta></dt>
<dd>Un éditeur dédié à l'apprentissage d'OCaml.</dd>

<dt><exta href="https://zoggy.frama.io/chamo/">Chamo</exta></dt>
<dd>Une sorte d'Emacs développé en OCaml (par l'auteur de ces lignes).</dd>

<dt><exta href="https://github.com/ftovagliari/ocamleditor">OCaml editor</exta></dt>
<dd>Un environnement de développement intégré pour OCaml.</dd>

<!--
<dt><exta href="http://ocamldt.free.fr/">ODT</exta></dt>
<dd>Un ensemble de greffons pour Eclipse.</dd>
-->

<dt><exta href="https://try.ocamlpro.com">Try OCaml</exta></dt>
<dd>Une application web pour essayer OCaml en ligne.</dd>
</dl>
</section>

<section id="packages" title="Gestionnaire de paquets, installation">
<p>
Le gestionnaire de paquets de la communauté est
<exta href="https://opam.ocaml.org">Opam</exta>.
Il gère les dépendances et les recompilations nécessaires lors
de l'installation d'un nouveau paquet,
permet d'avoir plusieurs versions d'OCaml installées, ...
</p>
<p>L'outil <exta href="https://github.com/dbuenzli/topkg">topkg</exta>
permet, à partir d'une description, de construire un paquet Opam pour compiler
et installer un logiciel.
</p>
</section>

<section id="parsing" title="Analyse syntaxique">
<p>
Comme <icode>yacc</icode> et <icode>lex</icode> pour C, les outils
<icode>ocamlyacc</icode> et <icode>ocamllex</icode>, inclus dans la distribution OCaml
sont des générateurs d'analyseurs respectivement grammaticaux (<em>parsers</em>) et
lexicaux (<em>lexers</em>).
Le manuel OCaml donne un exemple concret de leur utilisation.
<seemanual href="&lt;urlocamlyacc/&gt;"/>
</p>
<p>
Il existe d'autres outils d'analyse syntaxique:
</p>
<dl>
<dt><exta href="http://gallium.inria.fr/~fpottier/menhir/">Menhir</exta></dt>
<dd>Un générateur d'analyseurs grammaticaux comme <icode>ocamlyacc</icode>
(avec une syntaxe similaire) mais avec des fonctionnalités supplémentaires
(règles paramétrées, conflits mieux expliqués, possibilité de séparer
les spécifications en plusieurs fichiers pour introduire de la modularité, ...).</dd>

<dt><exta href="https://github.com/ocaml-community/sedlex">Sedlex</exta></dt>
<dd>Un générateur d'analyseurs lexicaux (comme <icode>ocamllex</icode>) supportant
l'Unicode.</dd>
</dl>
</section>


<section id="links" title="Quelques liens">
<p>
On pourra rechercher d'autres outils et bibliothèques ailleurs:
</p>
<dl>
<dt><exta href="https://github.com/rizo/awesome-ocaml">Awesome OCaml</exta></dt>
<dd>Cette page liste des ressources (outils, bibliothèques, documentations, ...) par domaine.</dd>

<dt><exta href="https://opam.ocaml.org/packages/">Opam packages</exta></dt>
<dd>La liste des paquets disponibles dans Opam, avec un moteur de recherche.</dd>
</dl>
<p>
Il n'y a pas de manière unique d'organiser le développement d'un logiciel
en OCaml. Chacun est libre d'organiser ses développements avec les outils
de son choix, l'arborescence de fichiers qui lui convient, etc.
</p>
<p>On liste ici quelques lectures dont chacun pourra s'inspirer:</p>
<ul>
<li>[anglais] <exta href="https://ocaml.org/learn/tutorials/guidelines.html">Des conseils de style</exta>,</li>
<li>[anglais] <exta href="https://stackoverflow.com/questions/19350590/designing-large-projects-in-ocaml/19355173#19355173">Une réponse sur la mise en place de gros projets en OCaml, peut-être un peu datée (2013)</exta>.</li>
</ul>

</section>

</module>
