<module title="Foncteurs et réutilisabilité"
module-name="foncteurs"
with-contents="true"
>
<before-toc><include file="./modgraph.xml"/></before-toc>
<contents>
<p><cmp>Les modules paramétrés</cmp> ou <em>foncteurs</em>
(en anglais <em>functors</em>)
<cmp>sont aux modules ce que les fonctions
sont aux valeurs.</cmp> Il s'agit de modules prenant en paramètre un module et renvoyant un
autre module. Le module retourné peut à son tour être un foncteur, tout comme une fonction
"à plusieurs arguments" est une fonction prenant un paramètre et retournant une autre
fonction.
</p>
<p>
Les foncteurs permettent d'écrire des modules s'abstrayant des structures de données
manipulées, dont la représentation et les fonctions de manipulations sont fournies
par un module en paramètre. Il est alors aisément possible d'appliquer un même algorithme
à deux structures de données différentes, tant que le module en paramètre fournit
les fonctions pour effectuer les opérations de base.
</p>

<section id="definition" title="Définition d'un foncteur">
<p>La syntaxe de définition d'un foncteur est la même que
<doc href="submod#modulestructend">pour un module</doc>,
avec en plus le paramètre attendu:
</p>
<centerstx id="modulefunctor"><ml>module</ml> <stxid>Id</stxid><ml> =
  functor (</ml><stxid>Id2</stxid><ml> : </ml><stxid>type de module</stxid><ml>) ->
  </ml><stxid>expression de module</stxid>
</centerstx>
<p>Comme pour les fonctions, une syntaxe plus légère est possible:</p>
<centerstx id="modulefunctor2"><ml>module</ml> <stxid>Id</stxid><ml>
  (</ml><stxid>Id2</stxid><ml> : </ml><stxid>type de module</stxid><ml>) =
  </ml><stxid>expression de module</stxid>
</centerstx>
<p>L'<stxid>expression de module</stxid> peut également être un foncteur. La syntaxe
  suivante permet donc de simuler un foncteur à plusieurs arguments:
</p>
<centerstx id="modulefunctor3"><ml>module</ml> <stxid>Id</stxid><ml>
  (</ml><stxid>Id2</stxid><ml> : </ml><stxid>type de module</stxid><ml>) ...
  (</ml><stxid>IdN</stxid><ml> : </ml><stxid>type de module</stxid><ml>) =
  </ml><stxid>expression de module</stxid>
</centerstx>
<p>
De la même façon, la déclaration d'un foncteur dans les interfaces et les
signatures suit <doc href="submod#modulesigend">celle de déclaration de module</doc>:
</p>
<centerstx id="modulefunctor4"><ml>module</ml> <stxid>Id</stxid><ml> :</ml>
  <ml>functor (</ml><stxid>Id2</stxid><ml> : </ml><stxid>type de module</stxid><ml>) -></ml>
  <ml> ...</ml>
  <ml>functor (</ml><stxid>IdN</stxid><ml> : </ml><stxid>type de module</stxid><ml>) -></ml>
  <stxid>signature</stxid>
<ml>module</ml> <stxid>Id</stxid><ml>
  (</ml><stxid>Id2</stxid><ml> : </ml><stxid>type de module</stxid><ml>) ...
  (</ml><stxid>IdN</stxid><ml> : </ml><stxid>type de module</stxid><ml>) :
  </ml><stxid>signature</stxid>
</centerstx>
</section>

<section id="application" title="Application">
<p>
L'application d'un foncteur se fait en utilisant la syntaxe suivante:
</p>
<centerstx id="appfunctor"><stxid>Foncteur</stxid><ml>(Param)</ml>
<stxid>Foncteur</stxid><ml>(Param)(Param2)...</ml>
</centerstx>
<p>L'application d'un foncteur renvoyant un module, nous pouvons donc définir
des modules par application de foncteurs de la façon suivante. Ici nous définissons
un module <ml>Ord</ml>, contenant un type <ml>t</ml> et une fonction de comparaison
<ml>compare</ml>. Nous passons ce module au foncteur <ml>Set.Make</ml>, qui permet d'obtenir
un module de manipulation d'ensembles d'éléments du type <ml>t</ml> du module passé
en paramètre, en l'occurrence <ml>Ord.t</ml>, donc ici des ensembles d'entiers.
</p>
<oc-eval>module Ord = struct
  type t = int
  let compare (x:int) (y:int) = Stdlib.compare x y
end;;
module Int_set = Set.Make(Ord);;
let set = Int_set.of_list [ 1 ; 2 ; 2 ; 2 ; 3 ; 10 ];;
Int_set.elements set;;
</oc-eval>
</section>
<section id="exemple" title="Exemple">
<p>
Voyons la définition et l'utilisation de foncteurs au travers d'un exemple.
Nous souhaitons modéliser un guichet auquel est associé une file d'attente.
La file d'attente sera abstraite, permettant la mise en place de différentes
politiques de priorité, de façon transparente pour le code de gestion du guichet.
</p>
<p>
Nous commençons donc par définir le type de la file d'attente:
</p>
<oc-eval><![CDATA[
module type QueueType = sig
  type 'a t
  exception Empty
  val create : unit -> 'a t
  val pop : 'a t -> 'a
  val push : 'a -> 'a t -> unit
end;;
]]></oc-eval>
<p>
Ensuite, nous définissons notre module de guichet, prenant en paramètre
une file d'attente:
</p>
<oc-eval><![CDATA[
module Guichet = functor (Q : QueueType) -> struct
  let create = Q.create
  let add = Q.push
  let handle_one f guichet =
    try f (Q.pop guichet)
    with Q.Empty -> ()
  let rec handle_all f guichet =
    match
      try Some (Q.pop guichet)
      with Q.Empty -> None
    with
    | None -> ()
    | Some doc -> f doc; handle_all f guichet
end;;
]]></oc-eval>
<p>
Nous ne pouvons pas encore utiliser notre module, puisqu'il s'agit d'un foncteur:
</p>
<oc-eval error-exc="false" toplevel="true"><![CDATA[
Guichet.create();;
]]></oc-eval>
<p>
Nous allons simuler notre guichet en utilisant d'abord une file FIFO. La signature
demandée pour le module en paramètre est un sous-ensemble de la signature du module
<moduledoc name="Queue"/>, nous pouvons donc utiliser ce module comme modélisation de
la file d'attente. En appliquant ce module à notre foncteur, nous obtenons un
guichet "premier arrivé, premier servi":
</p>
<oc-eval toplevel="true"><![CDATA[
module Guichet_FIFO = Guichet(Queue);;
let fifo = Guichet_FIFO.create ();;
List.iter (fun n -> Guichet_FIFO.add n fifo) [ 1 ; 2 ; 3 ; 4 ; 5 ];;
Guichet_FIFO.handle_all (fun n -> print_int n; print_newline ()) fifo;;
]]></oc-eval>
<p>
Nous pouvons également modéliser la file d'attente par une pile; dans ce cas,
le premier servi est le dernier arrivé:
</p>
<oc-eval toplevel="true"><![CDATA[
module Guichet_pile = Guichet(Stack);;
let pile = Guichet_pile.create ();;
List.iter (fun n -> Guichet_pile.add n pile) [ 1 ; 2 ; 3 ; 4 ; 5 ];;
Guichet_pile.handle_all (fun n -> print_int n; print_newline ()) pile;;
]]></oc-eval>
<p>
Nous pouvons même faire un foncteur permettant de construire et
tester un module de guichet, car les deux codes de test ci-dessus
sont les mêmes:
</p>
<oc-eval><![CDATA[
module Test (Q : QueueType) = struct
  module G = Guichet(Q)
  let guichet = G.create ()
  let _ = List.iter (fun n -> G.add n guichet) [ 1 ; 2 ; 3 ; 4 ; 5 ]
  let _ = G.handle_all (fun n -> print_int n; print_newline ()) guichet
end;;
module Foo = Test(Queue);;
module Foo = Test(Stack);;
]]></oc-eval>
<p>
On remarque que le compilateur impose correctement que les fonctions passées en
paramètres aux fonctions <ml>handle_one</ml> et <ml>handle_all</ml> prennent en paramètres
des valeurs du type des valeurs de la file d'attente:
</p>
<oc-eval toplevel="true" error-exc="false"><![CDATA[
Guichet_FIFO.handle_one print_string fifo;;
]]></oc-eval>
<p>
On aurait pu masquer la représentation interne du guichet en utilisant une signature
et en ajoutant un type de guichet:
</p>
<oc-eval><![CDATA[
module type GuichetAbstType = sig
  type 'a t
  val create : unit -> 'a t
  val add : 'a -> 'a t -> unit
  val handle_one : ('a -> unit) -> 'a t -> unit
  val handle_all : ('a -> 'b) -> 'a t -> unit
end;;
]]></oc-eval>
<oc-eval toplevel="true"><![CDATA[
module GuichetAbst (Q : QueueType) : GuichetAbstType = struct
  type 'a t = 'a Q.t
  include Guichet(Q)
end;;
module Foo=GuichetAbst(Stack);;
]]></oc-eval>
<p>
On ne peut plus maintenant accéder à la représentation de la file depuis l'extérieur de
la modélisation du guichet:
</p>
<oc-eval error-exc="false" toplevel="true"><![CDATA[
Stack.pop (Foo.create ());;
]]></oc-eval>
</section>

<section id="anonymous" title="Modules anonymes">
<p>
Il est possible de construire des modules anonymes (sans nom). C'est
souvent le cas lors de l'application d'un foncteur prenant un petit module en
paramètre. Dans ce cas, on utilise directement la syntaxe <ml>struct ... end</ml>
plutôt que la syntaxe <ml>module M = ...</ml> et l'utilisation de <ml>M</ml> dans
la suite:
</p>
<oc-eval toplevel="false"><![CDATA[
module Int_set =
  Set.Make (struct type t = int let compare = Stdlib.compare end);;
]]></oc-eval>
</section>

<section id="generative" title="Foncteurs génératifs">
<since-version v="4.02.0">
<p>
Les foncteurs en OCaml sont dits <em>applicatifs</em>, c'est-à-dire qu'appliquer
deux fois le même foncteur au même paramètre retournera deux modules dont les types
sont identiques. Dans l'exemple ci-dessous, nous créons deux modules
<ml>M1</ml> et <ml>M2</ml> en appliquant le même foncteur au même module en paramètre.
Bien que la signature du module résultat indique que le type <ml>t</ml> est abstrait,
<ml>M1.t</ml> et <ml>M2.t</ml> sont identiques: nous pouvons utiliser <ml>M2.compare</ml>
pour comparer les deux valeurs créées avec <ml>M1.create()</ml>.
</p>
<oc-eval>module type I = sig
  type t
  val create : unit -> t
  val compare : t -> t -> int
end;;
module F (P: I) : I = struct
  type t = P.t
  let create = P.create
  let compare = P.compare
end;;
module Int : I = struct
  type t = int
  let create () = 12
  let compare = Stdlib.compare
end;;
module M1 = F(Int);;
module M2 = F(Int);;
let v1 = M1.create();;
let v2 = M1.create();;
M2.compare v1 v2 ;;
</oc-eval>
<p>
Il est possible de créer des foncteurs dits <em>génératifs</em>, c'est-à-dire
qui créent de nouveaux types lorsqu'ils sont appliqués. Ces foncteurs prennent
un argument <ml>()</ml> en paramètre. En reprenant l'exemple ci-dessus, nous
créons un nouveau foncteur <ml>F2</ml> prenant aussi <ml>()</ml> en paramètre.
</p>
<oc-eval error-exc="false">module F2 (P:I) () : I = struct
  type t = P.t
  let create = P.create
  let compare = P.compare
end;;
module M1 = F2(Int) ();;
module M2 = F2(Int) ();;
</oc-eval>
<p>
Les nouveaux modules <ml>M1</ml> et <ml>M2</ml>, construits en appliquant
<ml>F2</ml> à <ml>Int</ml> et <ml>()</ml> ont maintenant des types <ml>t</ml>
incompatibles:
</p>
<oc-eval error-exc="false">
let v1 = M1.create();;
let v2 = M1.create();;
M2.compare v1 v2 ;;
</oc-eval>
<p>
Ce type de foncteur est utile notamment lorsqu'on souhaite utiliser
une même structure de données à base d'indices ou de clés mais qu'on
veut que le typage nous garantisse que l'on n'utilise pas une clé
d'une structure de données pour une autre structure.
</p>
</since-version>
</section>

</contents>
</module>
