<module title="Modules de première classe"
module-name="fstclassmod"
with-contents="true"
>
<before-toc><include file="./modgraph.xml"/><since-version-tag v="3.12"/></before-toc>
<contents>
<p>
Jusqu'à maintenant, les façons que nous avons vues de construire des modules
étaient relativement statiques: par exemple nous ne pouvions pas utiliser
un module ou un autre selon une option de configuration avec quelque chose
comme
<ml>if ... then Mod1 else Mod2</ml>.
</p>
<p>Les modules de première classe sont une extension apportée à OCaml
à partir de la version 3.12. Cela consiste à pouvoir empaqueter
des modules dans des valeurs pour les utiliser comme n'importe quelle
autre expression.
De telles valeurs peuvent être dépaquetées pour retrouver le module
empaqueté de façon à accéder aux composants du module.
</p>
<p>Cette possibilité impacte trois aspects du langage: les expressions
de type (pour pouvoir décrire le type des valeurs contenant des modules,
ou modules de première classe), les expressions (pour empaqueter un module
et filtrer les valeurs contenant des modules), et la construction
de modules (pour récupérer le module contenu dans une valeur). Nous
allons voir ces différents aspects ainsi qu'un exemple.
</p>
<section id="typage" title="Typage">
<oc-eval toplevel="false" show-code="false" show-stdout="false">
module type T = sig type t end
</oc-eval>
<p>
Le type d'une valeur contenant un module de type <ml>T</ml> est noté
<ml>(module T)</ml>. On peut ajouter des contraintes comme par exemple
<ml>(module T with type t = int)</ml>.
</p>
<p>
Ainsi, une fonction prenant en paramètre un module de ce type
et renvoyant un entier aura le type suivant:
</p>
<ocaml>(module T with type t = int) -> int</ocaml>
<p>
On peut évidemment utiliser cette forme de type dans les définitions
de type:
</p>
<oc-eval>type 'a mod_fun =
  | Blabla
  | Mod of ( (module T with type t = 'a) -> 'a )
</oc-eval>
</section>

<section id="pack" title="Empaquetage (&lt;em&gt;pack&lt;/em&gt;)">
<p>
L'empaquetage (<em>pack</em>) consiste à faire d'un module un module
de première classe, c'est-à-dire une valeur comme les autres, mais
évidemment possédant un type reflétant sa nature.
</p>
<p>L'expression <ml>(module M : T)</ml> crée un module de première classe
à partir d'un module <ml>M</ml> de type <ml>T</ml>:
</p>
<oc-eval>module Int_ord = struct
  type t = int
  let compare (x:int) y = Stdlib.compare x y
end;;
let x = (module Int_ord : Map.OrderedType);;
</oc-eval>
<p>L'annotation de type
<ml>: T</ml> est inutile si le type de <ml>M</ml> peut être déterminé
par le compilateur. Dans l'exemple ci-dessous, comme les listes ne peuvent
contenir que des éléments de même type, il est inutile de mettre une
annotation de type dans <ml>(module M)</ml>:
</p>
<oc-eval>module M = struct type t = int let compare = Stdlib.compare end;;
let list = [ x ; (module M) ];;
</oc-eval>
<p>
Pour utiliser des modules de première classe, on définira souvent des fonctions
retournant des modules. Ces modules peuvent être
<doc href="submod#local">créés localement</doc> puis renvoyés empaquetés dans
des valeurs:
</p>
<oc-eval>module type Int = sig val v : int end;;
let make_int x =
  let module M = struct let v = x end in
  (module M : Int);;
</oc-eval>
<p>Il est possible d'introduire localement (pour le contenu de la fonction)
un ou plusieurs types abstraits, avec la notation <ml>(type a)</ml>, et d'utiliser ces
types dans la définition d'un module local. S'il n'y a pas de contrainte
sur ces types locaux, la fonction sera polymorphe sur ces types, donc le
module local qui les utilise le sera aussi.
</p>
<oc-eval>module type Value = sig type t val value : t end;;
let make_value (type a) v =
  let module M = struct type t = a let value = v end in
  (module M : Value);;
let v_int = make_value 3 ;;
let v_float = make_value 12. ;;
</oc-eval>
<p>Pour faire apparaître le lien entre le type du paramètre et le type
de <ml>t</ml> dans le module retourné, on pourra ajouter une contrainte
<ml>with type t = a</ml>:
</p>
<oc-eval>
let make_value (type a) v =
  let module M = struct type t = a let value = v end in
  (module M : Value with type t = a);;
let v_int = make_value 3 ;;
let v_float = make_value 12. ;;
</oc-eval>
<p>L'ajout de cette contrainte n'est pas obligatoire. En son absence, le type
du module renvoyé resterait abstrait, ce qui peut parfois être voulu.</p>
</section>

<section id="unpack" title="Dépaquetage (&lt;em&gt;unpack&lt;/em&gt;)">
<p>Le dépaquetage (<em>unpack</em>) consiste à récupérer le module empaqueté dans
une valeur. Il y a deux façons de procéder, soit en utilisant <ml>(val expr : Type)</ml>
dans une expression de module (à la place de <ml>struct .. end</ml>, d'un nom
de module existant, ...), soit en utilisant le motif de filtrage
<ml>(module Id : Type)</ml> pour lier <ml>Id</ml> au module empaqueté.
</p>
<p>En continuant l'exemple de la section précédente, nous pouvons définir une
fonction <ml>max_value</ml> prenant en paramètres deux modules de première classe
de type <ml>Value</ml> et qui retournera le module avec la valeur de <ml>value</ml> la
plus grande. La fonction de comparaison utilisée étant de type
<ml>'a -> 'a -> bool</ml>, les deux modules doivent avoir des types <ml>t</ml>
identiques, ce que nous forçons par des annotations.
</p>
<p>Voici une première façon de procéder, en créant dans la fonction deux modules
en dépaquetant les deux modules en paramètres:
</p>
<oc-eval>let max_value (type a) v1 v2 =
  let module V1 = (val v1 : Value with type t = a) in
  let module V2 = (val v2 : Value with type t = a) in
  if V1.value > V2.value then v1 else v2;;
let (module M) = max_value (make_value 3) (make_value 4) in M.value;;
let (module M) =
  max_value (make_value "b") (make_value "a") in
  M.value;;
</oc-eval>
<p>Une seconde façon de procéder utilise le filtrage par motif:</p>
<oc-eval>let bin_op (type a) v1 v2 =
  let (module V1 : Value with type t = a) = v1 in
  let (module V2 : Value with type t = a) = v2 in
  if V1.value > V2.value then v1 else v2;;
let (module M) = max_value (make_value 3) (make_value 4) in M.value;;
let (module M) =
  max_value (make_value "b") (make_value "a") in
  M.value;;
</oc-eval>
</section>

<section id="exemple" title="Exemple">
<p>
Nous souhaitons afficher sur la sortie standard des messages normaux et
des messages d'erreur<note>Bien sûr, les messages d'erreur pourraient être
envoyés sur la sortie d'erreur, mais il s'agit juste d'un exemple ici.</note>.
Si la sortie standard est un terminal, nous voulons mettre les messages
d'erreur en rouge, donc envoyer des caractères spéciaux pour l'affichage
en couleur. Sinon, nous enverrons le message tel quel, sans ajout.
</p>
<p>
Nous voulons que cette fonctionnalité soit transparente dans le reste du
programme, le module sera passé à la fonction de traitement <ml>treatment</ml>.
Le module qui lui sera passé sera donc défini conditionnellement
selon vers quoi est dirigée la sortie standard.
</p>
<p>Nous commençons par définir un type de module, avec deux fonctions
pour afficher les messages normaux ou d'erreur. Puis nous définissons
deux modules de ce type, l'un pour le cas ou la sortie est un terminal,
l'autre pour les autres cas. Enfin, nous définissons et appelons la
fonction<ml>treatment</ml> en lui passant un module qui sera différent
selon que <ml>Unix.stdout</ml> est un terminal ou non.
</p>
<ocaml defer_="1"><codefile file="exemple.ml"/></ocaml>
<p>Le programme sera compilé sans oublier de le lier avec la bibliothèque
<ml>unix.cmxa</ml>:
</p>
<run>ocamlopt -o exemple unix.cmxa exemple.ml</run>
</section>

</contents>
</module>
