<module title="Bibliothèques"
module-name="stdlib"
>
<div class="nodisplay">
<oc-eval toplevel="false" show-code="false">#print_length 80;;</oc-eval>
</div>
<p>
Comme beaucoup d'autres distributions de compilateurs/langages, OCaml est accompagné
de bibliothèques. Chaque bibliothèque peut définir de nouveaux types, nouvelles exceptions,
nouvelles fonctions, nouvelles classes et nouveaux modules.
Ces bibliothèques soit évitent au développeur d'avoir à réimplémenter des fonctions
de base, soit fournissent des opérations non définissables dans le langage comme les
fonctions d'entrées/sorties avec un nombre variable d'arguments (e.g. <ml>printf</ml>).
</p>
<p>
Elles se présentent sous forme de modules incluant éventuellement d'autres modules.
Nous allons voir ici comment utiliser ces modules, tandis que la définition de nouveaux
modules est détaillée dans le chapitre <doc href="modules/progmod"/>.
</p>
<p>
Les bibliothèques de la distribution OCaml sont séparées en trois ensembles:
</p>
<ul>
<li>la bibliothèque préchargée (le module <moduledoc name="Stdlib"/>), définissant des
exceptions d'usage général comme <ml>Failure</ml> ou <ml>Not_found</ml>, des fonctions
sur les types de base (entiers, flottants, chaînes, ...), des fonctions d'entrées/sorties,
</li>
<li>la bibliothèque dite "standard" dans le sens où elle est toujours présente
quelle que soit la plateforme sur laquelle est installé OCaml. Cette bibliothèque
contient plusieurs modules offrant
<ul>
<li>l'utilisation de structures de données "de base"
(listes, vecteurs, tables de hachage, piles, ...),</li>
<li>des opérations d'entrées/sorties évoluées,</li>
<li>des possibilités de gestion de la persistance (stockage de données),</li>
<li>l'interfaçage avec le système d'exploitation.</li>
</ul>
</li>
<li>un autre ensemble de bibliothèques plus spécialisées (comme une bibliothèque
d'arithmétique exacte), dont certaines
ne sont totalement disponibles que sur certains systèmes d'exploitation
(telle la bibliothèque Unix) ou bien dépendent de la présence d'autres
bibliothèques sur ce système (comme l'interface avec Tcl/Tk).</li>
</ul>

<section id="pervasives" title="Bibliothèque préchargée">
<p>
Le module <moduledoc name="Stdlib"/> est la bibliothèque préchargée par OCaml lors de la compilation
ou l'évaluation de programmes, c'est-à-dire que tout se passe comme si en tête de chaque
fichier de code figurait une instruction
</p>
<oc-eval><![CDATA[
open Stdlib;;
]]></oc-eval>
<p>
Le module <ml>Stdlib</ml> a été introduit dans la version 4.07.0. Il était
auparavant nommé <ml>Pervasives</ml>. L'utilisation de
<ml>Pervasives</ml> déclenche un avertissement indiquant que ce module est <em>deprecated</em>
et que <ml>Stdlib</ml> doit être utilisé à la place.
</p>
<p>
Les éléments de <moduledoc name="Stdlib"/> sont donc visibles et accessibles sans nécessité
de les préfixer (on peut faire appel à <ml>compare</ml> au lieu de <ml>Stdlib.compare</ml>).
La construction <ml>open ...</ml> est présentée dans <doc href="#stdlib"/>.
</p>
<p>
Dans la documentation anglaise, cette bibliothèque est appelée "Core library".
</p>
<p>
Elle fournit des éléments de base dans des domaines variés. Nous en donnons quelques-uns
ci-dessous mais il sera utile de parcourir la documentation du module pour
avoir un bon aperçu de ce qu'il offre.
</p>

<subsection id="libtypes" title="Types et exceptions">
<p>
C'est dans ce module que sont définis les types de base ainsi que les exceptions d'usage général.
<seemanual href="&lt;urldoccoretypes/&gt;"/>
</p>
</subsection>

<subsection id="libcompare" title="Comparaisons">
<p>
Plusieurs fonctions de comparaisons sont fournies et sont polymorphes, permettant ainsi
de comparer n'importe quel couple de valeur d'un même type:
</p>
<table class="table table-stripped table-bordered table-condensed">
<tr><td><ml>(=) : 'a -> 'a -> bool</ml></td>
<td>Egalité structurelle</td>
</tr>
<tr><td><ml>(&lt;&gt;)</ml></td>
<td>Négation de <ml>(=)</ml></td>
</tr>
<tr>
<td><ml>(&lt;)</ml> et <ml>(&lt;=)</ml></td>
<td>relation d'infériorité structurelle stricte ou non</td>
</tr>
<tr><td><ml>(&gt;)</ml> et <ml>(&gt;=)</ml></td>
<td>relation de supériorité structurelle stricte ou non</td>
</tr>
<tr><td><ml>compare : 'a -> 'a -> int</ml></td>
<td>Comparaison générale:<br/>
<ml>compare a b = 0</ml> si <ml>a = b</ml><br/>
<ml>compare a b &lt; 0</ml> si <ml>a &lt; b</ml><br/>
<ml>compare a b &gt; 0</ml> si <ml>a &gt; b</ml><br/></td>
</tr>
<tr><td><ml>min : 'a -> 'a -> 'a</ml></td>
<td>Minimum structurel de deux valeurs</td>
</tr>
<tr><td><ml>max</ml></td>
<td>Maximum structurel de deux valeurs</td>
</tr>
<tr><td><ml>(==) : 'a -> 'a -> bool</ml></td>
<td>Egalité physique</td>
</tr>
<tr><td><ml>(!=)</ml></td>
<td>Négation de <ml>(==)</ml></td>
</tr>
</table>
<p>
Les fonctions entre parenthèses sont utilisables en position infixe.
</p>
<p>
Quelques exemples:
</p>
<oc-eval toplevel="true"><![CDATA[
"toto" = "tutu";;
"abc" < "def";;
10 >= 13 ;;
compare [1;2] [1;2;3];;
"toto" = "toto";;
"toto" == "toto";;
]]></oc-eval>
<seemanual href="&lt;urldoccorecomp/&gt;"/>
</subsection>

<subsection id="libbool" title="Fonctions sur les booléens">
<p>
Les fonctions classiques sur les booléens sont disponibles:
</p>
<table class="table table-stripped table-bordered table-condensed">
<tr><td><ml>not : bool -> bool</ml></td>
<td><em>non</em> logique</td>
</tr>
<tr><td><ml>(&amp;&amp;) : bool -> bool -> bool</ml></td>
<td><em>et</em> logique</td>
</tr>
<tr><td><ml>(||) : bool -> bool -> bool</ml></td>
<td><em>ou</em> logique</td>
</tr>
</table>
</subsection>

<subsection id="libint" title="Fonctions sur les entiers">
<p>
On trouve les opérations arithmétiques habituelles sur les entiers:
</p>
<table class="table table-stripped table-bordered table-condensed">
<tr><td><ml>(+)</ml>, <ml>(-) : int -> int -> int</ml></td>
<td>addition, soustraction</td>
</tr>
<tr><td><ml>( * )</ml>, <ml>(/)</ml>, <ml>(mod)</ml></td>
<td>multiplication, division entière, modulo</td>
</tr>
<tr><td><ml>~- : int -> int</ml></td>
<td>négation</td>
</tr>
<tr><td><ml>succ</ml>, <ml>pred : int -> int</ml></td>
<td>successeur, prédécesseur</td>
</tr>
<tr><td><ml>abs : int -> int</ml></td>
<td>valeur absolue</td>
</tr>
</table>
<p>
Les débordements (<em>overflow</em>) sont ignorés.
Dans les cas où ils doivent être gérés, on pourra utiliser
les constantes <ml>min_int</ml> et <ml>max_int</ml> qui sont respectivement
les plus petit et plus grand entiers représentables sur la plateforme d'exécution.
<seemanual href="&lt;urldoccoreint/&gt;"/>
</p>
</subsection>

<subsection id="libbit" title="Opérations bit à bit">
<p>
Des fonctions sont disponibles pour manipuler les entiers au niveau des bits,
pour l'utilisation de masques, gestion de protocoles ou données binaires, ...
</p>
<table class="table table-stripped table-bordered table-condensed">
<tr><td><ml>lnot : int -> int</ml></td>
<td>négation bit à bit logique</td>
</tr>
<tr><td><ml>(lor)</ml>, <ml>(land) : int -> int -> int</ml></td>
<td><em>ou</em> et <em>et</em> bit à bit logique</td>
</tr>
<tr><td><ml>(lxor)</ml></td>
<td><em>ou exclusif</em> bit à bit logique</td>
</tr>
<tr><td><ml>(lsl)</ml>, <ml>(lsr)</ml>, <ml>(asr)</ml></td>
<td>décalages à gauche et à droite</td>
</tr>
</table>
<p>
<seemanual href="&lt;urldoccorebit/&gt;"/>
</p>
</subsection>

<subsection id="libfloat" title="Fonctions sur les flottants">
<p>
Il n'y a pas de surcharge en OCaml, c'est-à-dire que le même identifiant ne peut pas correspondre
à deux fonctions différentes selon le type de ses arguments. Les opérations communes
aux entiers et aux flottants (addition, ...) se distinguent donc par un '<ml>.</ml>' ajouté
aux opérateurs flottants:
</p>
<table class="table table-stripped table-bordered table-condensed">
<tr><td><ml>(+.)</ml>, <ml>(-.) : float -> float -> float</ml></td>
<td>addition, soustraction</td>
</tr>
<tr><td><ml>( *. )</ml>, <ml>(/.)</ml>, <ml>mod_float</ml></td>
<td>multiplication, division, modulo</td>
</tr>
<tr><td><ml>~-. : float -> float</ml></td>
<td>négation</td>
</tr>
<tr><td><ml>abs_float : float -> float</ml></td>
<td>valeur absolue</td>
</tr>
<tr><td><ml>sqrt : float -> float</ml></td>
<td>racine carrée</td>
</tr>
<tr><td><ml>( ** ) : float -> float -> float</ml></td>
<td>puissance</td>
</tr>
<tr><td><ml>float_of_int : int -> float</ml></td>
<td>création d'un flottant depuis un entier</td>
</tr>
<tr><td><ml>truncate : float -> int</ml></td>
<td>création d'un entier à partir de la partie entière d'un flottant</td>
</tr>
</table>
<p>
Il existe des valeurs spéciales pour indiquer des valeurs qui ne sont pas des nombres
("<em>not a number</em>"): <ml>infinity</ml>, <ml>neg_infinity</ml>, ... Ces valeurs sont obtenues
en effectuant certaines opérations comme une division par <ml>0.0</ml>.
</p>
<p id="aeuzuei">
Beaucoup d'autres fonctions sont disponibles sur les flottants (trigonométrie, ...).
<seemanual href="&lt;urldoccorefloat/&gt;"/>
</p>
</subsection>

<subsection id="inputoutput" title="Entrées/Sorties">
<p>
Un certain nombre de fonctions d'entrées/sorties sont disponibles dans la bibliothèque
préchargée. Certaines fonctions interagissent avec l'entrée standard, la sortie standard
ou la sortie d'erreur, tandis que d'autres sont plus générales et agissent sur un
canal (<em>channel</em>) passé en paramètre.
</p>
<p>
A l'aide de la documentation de <moduledoc name="Stdlib"/>, faire les exercices suivants:
</p>
<exercice id="exosumint" title="Somme de deux entiers">
<p id="iopipoyr">
Ecrire un programme qui affiche la somme de deux entiers saisis par l'utilisateur
sur l'entrée standard, sous la forme "La somme de A et B est C." avec un retour
chariot. On pourra lancer son programme par la commande
</p>
<sh>ocaml fichier.ml</sh>
<solution>
<ocaml><![CDATA[
let a = read_int ();;
let b = read_int ();;
print_string "La somme de ";;
print_int a;;
print_string " et ";;
print_int b;;
print_string " est ";;
print_int (a + b);;
print_string ".\n";;
]]></ocaml>
</solution>
</exercice>
<exercice id="exocat" title="Implémenter cat">
<p>
Ecrire un programme se comportant comme une simplification de la commande UNIX <icode>cat</icode>:
il affichera sur sa sortie standard ce qu'il lit sur son entrée standard. On traitera
proprement la détection de la fin de lecture.
</p>
<solution>
<ocaml><![CDATA[
try
  while true do print_endline (read_line ()) done
with
  End_of_file -> exit 0;;
]]></ocaml>
</solution>
</exercice>
</subsection>
</section>

<section id="stdlib" title="Bibliothèque standard">
<p>
La bibliothèque dite "standard" contient des modules disponibles sur toutes les plateformes
sur lesquelles OCaml fonctionne. Elle est donc un socle stable pour développer des applications
portables.
</p>
<p>
L'utilisation des éléments d'un module se fait en préfixant l'élément (fonction, type, ...)
par le nom du module suivi d'un point, comme dans <ml>List.split</ml> ou <ml>String.lowercase_ascii</ml>.
Il est également possible d'<em>ouvrir</em> le module, par l'instruction
</p>
<ocaml><![CDATA[
open Nom_du_module;;
]]></ocaml>
<p>
pour rendre tous ses éléments visibles après le <ml>open</ml>.
</p>
<p>
Attention, dans ce cas, les éléments du module ouvert masquent les éléments de même nom
visibles auparavant:
</p>
<oc-eval id="code-openwarning" toplevel="true" error-exc="false"><![CDATA[
let length x = x + 1;;
length 10;;
open List;;
length 10;;
]]></oc-eval>
<p>
En général, une bonne pratique est de ne pas ouvrir de module,
mais de préfixer les éléments par leur nom complet afin de faciliter la lecture du programme.
En effet, la présence du nom du module permet de plus facilement déduire quelle structure
de données est manipulée, puisqu'il n'est pas nécessaire en OCaml d'indiquer explicitement
les types. On peut faire une exception pour les constructeurs de type et les champs
d'enregistrements, c'est-à-dire ouvrir un module pour ne pas avoir à préfixer les constructeurs
et champs mais préfixer tout de même les autres éléments lors de leur utilisation.
</p>
<p>
On pourra également définir un alias de module avec la construction suivante:
</p>
<oc-eval>module L = List</oc-eval>
<p>Dans le code qui suit cette construction, on peut faire référence au module
<ml>L</ml> à la place du module <ml>List</ml>, ce dernier restant cependant accessible:
</p>
<oc-eval>L.length ;;
List.length ;;</oc-eval>
<p>
Enfin, il n'y a pas de hiérarchie dans cette bibliothèque, les modules disponibles sont tous
au même niveau (même si certains modules en contiennent d'autres).
Nous allons cependant les introduire par grandes catégories et détailler
les possibilités de quelques uns d'entre eux.
</p>

<subsection id="datastructs" title="Structures de données">
<p>
La bibliothèque standard offre plusieurs modules permettant de construire et
manipuler des structures de données courantes. Nous avons déjà vu précédemment
les modules suivants:
</p>
<ul>
<li><moduledoc name="Array"/>, pour la manipulation des vecteurs,</li>
<li><moduledoc name="Char"/>, pour les opérations sur les caractères,</li>
<li><moduledoc name="Uchar"/>, pour manipuler des caractères Unicode (OCaml ≥ 4.03.0),</li>
<li><moduledoc name="List"/>, pour la manipulation des listes,</li>
<li><moduledoc name="String"/>, pour les manipulations des chaînes de caractères.</li>
</ul>
<p>
Le module <moduledoc name="Buffer"/> permet de manipuler des tampons extensibles
de caractères, dans un style impératif, plus efficaces dans certains algorithmes
que des concaténations à répétition de chaînes de caractères.
</p>
<p>
On remarquera que les vecteurs et les listes sont génériques puisqu'ils
permettent de manipuler des vecteurs et des listes d'éléments arbitraires
(listes d'entiers, listes de chaînes, ...).
</p>
<p>
D'autres structures de données sont disponibles et offrent aussi cette généricité.
</p>
<exercice id="exopalindrome" title="Palindrome sur les chaînes de caractères">
<p>
Ecrire une fonction <ml>is_palindrome</ml> prenant en paramètre une chaîne
de caractères et retournant <ml>true</ml> si c'est un palindrome, <ml>false</ml> sinon.
Une chaîne est un palindrome si elle est symétrique (e.g. "radar", "laval").
</p>
<solution>
<oc-eval toplevel="true"><![CDATA[
let is_palindrome s =
  let len = String.length s in
  let rec test i =
    (i > len  / 2) ||
    (s.[i] = s.[len - i - 1] && test (i+1))
  in
  test 0;;
is_palindrome "nonacecanon";;
is_palindrome "anna";;
is_palindrome "baobab";;
]]></oc-eval>
</solution>
</exercice>

<exercice id="exotac" title="Tac">
<p>
Ecrire une fonction <ml>tac</ml> qui lit un fichier en paramètre
et retourne la liste de ses lignes en ordre inverse.
</p>
<solution>
<oc-eval toplevel="true">
let tac file =
  let in_channel = open_in file in
  let rec iter acc =
    let line =
       try Some (input_line in_channel)
       with End_of_file -> None
     in
     match line with
       None -> acc
     | Some line -> iter (line :: acc)
   in
   let lines = iter [] in
   close_in in_channel;
   List.iter print_endline lines
;;
</oc-eval>
</solution>
<p>Exemple d'appel:</p>
<oc-eval toplevel="true">
tac "/etc/shells";;
</oc-eval>
</exercice>

<exercice id="exooptparams" title="Paramètres optionnels">
<p>
On peut spécifier des paramètres optionnels pour les fonctions, avec ou sans
valeur par défaut.
</p>
<p>
Dans <ml>let f ?x y = ...</ml>, <ml>x</ml> sera une valeur du type
<ml>option</ml>. Le type <ml>option</ml> est prédéfini ainsi:
</p>
<ocaml>type 'a option = None | Some of 'a</ocaml>
<p>
et permet de manipuler des valeurs optionnelles.
On pourra donc utiliser le filtrage pour procéder par cas sur
la structure de <ml>x</ml>:
</p>
<oc-eval toplevel="true"><![CDATA[
let f ?x y = match x with None -> y | Some x -> x + y;;
]]></oc-eval>
<p>
Lors de l'appel d'une telle fonction, on pourra ou non préciser la valeur
du paramètre optionnel:
</p>
<oc-eval toplevel="true"><![CDATA[
f 4;;
f ~x: 1 4;;
]]></oc-eval>
<p>
Pour donner une valeur par défaut à un paramètre, on pourrait utiliser la forme
suivante:
</p>
<oc-eval toplevel="true"><![CDATA[
let f ?x =
  let x = match x with None -> 1 | Some x -> x in
  fun y -> x + y;;
]]></oc-eval>
<p>
On préférera la syntaxe suivante, plus simple et lisible:
</p>
<oc-eval toplevel="true"><![CDATA[
let f ?(x=1) y = x + y;;
]]></oc-eval>
<p>
La façon de préciser la valeur de l'argument lors de l'application de <ml>f</ml> ne change
pas:
</p>
<oc-eval toplevel="true"><![CDATA[
f 4;;
f ~x: 2 4;;
]]></oc-eval>
<p>
Ecrire une fonction <ml>list_remove_doubles</ml> prenant en paramètre une liste
et retournant la même liste mais dans laquelle chaque élément apparaît au plus
une fois. La fonction acceptera en paramètre optionnel une fonction de comparaison
pour savoir si deux éléments sont identiques. Par défaut ce paramètre sera
la fonction d'égalité polymorphe <ml>(=)</ml>.
</p>
<solution>
<oc-eval toplevel="true"><![CDATA[
let list_remove_doubles ?(pred=(=)) l =
  List.rev
    (List.fold_left
      (fun acc e -> if List.exists (pred e) acc then acc else e :: acc)
      []
      l
    )
;;
]]></oc-eval>
</solution>
<oc-eval toplevel="true"><![CDATA[
list_remove_doubles [ 1 ; 1 ; 3; 2 ; 2; 2 ; 1; 2; 3; 4];;
let comp_string s1 s2 = String.lowercase_ascii s1 = String.lowercase_ascii s2;;
list_remove_doubles ~pred: comp_string
  [ "hello"; "HELlo";"world";"heLLO"; "WorLD"; "!"; "!"; "hello"];;
]]></oc-eval>
</exercice>

<exercice id="exowords" title="Découpage en liste de mots">
<p id="aopipoipa">
Ecrire une fonction prenant une chaîne de caractères et retournant la liste
des mots qu'elle contient. Un mot sera composé uniquement des caractères
'a' à 'z' et 'A' à 'Z'.
</p>
<p>
Note: Il est possible de filtrer un caractère selon un intervalle de caractères
donné, grâce à la notation <ml>..</ml>:
</p>
<oc-eval toplevel="true">
match 'c' with
  'a'..'z'
| 'A'..'Z' -> "letter"
| '0'..'9' -> "number"
| _ -> "something else"
;;
</oc-eval>
<solution>

<oc-eval defer_="1" toplevel="true"><codefile file="words.ml"/></oc-eval>
</solution>
<oc-eval defer_="1" toplevel="true"><![CDATA[
words "maitre corbeau sur un arbre perche ... par l'odeur alleche...";;
]]></oc-eval>
</exercice>

<subsubsection id="hashtables" title="Tables de hachage">
<p>
Le module <moduledoc name="Hashtbl"/> permet d'utiliser des tables de hachage.
Les tables de hachage sont des structures de données permettant de stocker
des associations clé-valeur, avec modification en place.
L'ajout d'une valeur pour une clé existante masque
la valeur précdente associée à cette clé. Les clés et les valeurs peuvent être de n'importe
quel type, tant que l'on sait comment comparer les clés (égalité) et que l'on a une fonction
pour calculer un indice à partir d'une clé (fonction de hachage).
En effet, les valeurs ne sont pas stockées
dans un tableau de taille infinie, mais au contraire dans un tableau de taille finie,
et la fonction de hachage doit permettre une répartition la plus homogène possible
dans le tableau,
afin d'avoir des temps d'accès les plus courts. Si deux clés ont la même valeur
de hachage, les deux associations clé-valeur sont stockées dans une liste à l'indice
commun du tableau. La taille de la table doit donc être adaptée au nombre d'associations
à stocker. Si elle est trop petite, les conflits dans les hash de clés seront nombreux
et au final on parcourra souvent les listes d'associations ayant la même valeur de
hachage. Si elle est trop grande, elle prend inutilement de la place.
Enfin, on conseille de prendre un nombre premier comme taille de la table.
</p>
<p>
Un type de table de hachage générique est disponible, utilisant des fonctions
d'égalité et de hachage prédéfinies. Il est également possible de définir
son propre type de table de
hachage spécialisé pour un type de données. Pour cela, on définit un module
contenant les fonctions d'égalité et de hachage et on passe ce module à un
autre module (<moduledoc name="Hashtbl.Make"/>), afin de construire un nouveau module
permettant la manipulation de tables de hachage spécialisées par
les fonctions du module en paramètre. Les modules prenant d'autres modules
en paramètres sont appelés foncteurs. Ils sont exposés dans la section <doc href="modules/foncteurs"/>.
</p>
<p>
Voici un exemple d'utilisation de table de hachage:
</p>
<oc-eval toplevel="true" error-exc="false"><![CDATA[
type person = { name : string ; firstname : string };;
let users = Hashtbl.create 101;;
let robert = { name = "Bidochon" ; firstname = "Robert"};;
Hashtbl.add users "bidochon" robert;;
Hashtbl.find users "bidochon";;
let raymonde = { name = "Bidochon" ; firstname = "Raymonde"};;
Hashtbl.add users "bidochon" raymonde (* robert est masqué *);;
Hashtbl.find users "bidochon";;
Hashtbl.remove users "bidochon" (* robert est démasqué *);;
Hashtbl.find users "bidochon";;
Hashtbl.remove users "bidochon" (* robert est supprimé *);;
Hashtbl.find users "bidochon";;
]]></oc-eval>
<p>
A sa création, la table <ml>users</ml> a le type <ml>('_a, '_b) Hashtbl.t</ml>:
<ml>users</ml> est du type <ml>Hashtbl.t</ml> mais les deux paramètres de type ne sont pas
encore fixés (on a <ml>`_a</ml> au lieu d'un <ml>`a</ml> qui indiquerait le polymorphisme),
ils le seront dès que la suite du programme mettra des contraintes sur ces types.
On peut d'ailleurs le vérifier maintenant que la table a été utilisée:
</p>
<oc-eval toplevel="true"><![CDATA[
users;;
]]></oc-eval>
<p>
L'indication <ml>= &lt;abstr&gt;</ml> signifie que le type est abstrait. C'est le cas de beaucoup
de structures de données prédfinies: leur représentation interne est masquée et il faut
donc obligatoirement passer par les fonctions fournies pour manipuler ces structures.
Cet aspect sera exposé dans la partie sur les modules dans le chapitre <doc href="modules/progmod"/>.
</p>

<exercice id="exowordcount" title="Comptage de mots">
<p id="nvxcnvx">
Ecrire un programme prenant en paramètre un nom de fichier et comptant le nombre
d'occurrences de chaque mot apparaissant dans le fichier. A la fin, le programme
affiche chaque mot avec son nombre d'apparitions. On pourra utiliser la fonction
<ml>words</ml> définie dans l'<exercice href="exowords"/>.
</p>
<solution>
<ocaml id ="countwords" defer_="1"><codefile file="count_words.ml"/></ocaml>
</solution>
</exercice>
</subsubsection>

<subsubsection id="map" title="Dictionnaires">
<p>
Ces structures de données permettent d'associer des valeurs à des clés, comme pour
les tables de hachage mais dans un style applicatif, sans effet de bord. Elles sont
basées sur des arbres binaires et nécessitent pour cela de savoir comment
ordonner les clés des paires (clé, valeur) à ranger.
</p>
<p>
On crée un module pour gérer ce genre de structure en utilisant le foncteur
<moduledoc name="Map.Make"/>, du module <moduledoc name="Map"/>.
On peut utiliser la fonction générique
<ml>Stdlib.compare</ml> comme fonction d'ordre, notamment quand on utilise comme clé
un type de données prédéfini pour lequel cette fonction a le comportement souhaité:
</p>
<oc-eval toplevel="true" error-exc="false"><![CDATA[
module MyKey = struct
  type t = int
  let compare = Stdlib.compare
end;;
module MyMap = Map.Make(MyKey);;
let map = MyMap.empty;;
let map = MyMap.add 1 "coucou" map;;
let map = MyMap.add 2 "bonjour" map;;
let map = MyMap.add 3 42 map;;
MyMap.iter
  (fun key value -> Printf.printf "cle=%d, valeur=%s\n" key value)
  map;;
flush stdout;;
]]></oc-eval>
<exercice id="exowordcount2" title="Comptage de mots avec un dictionnaire">
<p>
Reprendre l'<exercice href="exowordcount"/> en utilisant un dictionnaire.
</p>
<solution>
<ocaml id="countwordsdict" defer_="1"><codefile file="count_words_dict.ml"/></ocaml>
</solution>
</exercice>
</subsubsection>

<subsubsection id="set" title="Ensembles">
<p>
Le module <moduledoc name="Set"/> permet de définir des structures de données représentant
des ensembles de valeurs d'un même type. Il est alors possible d'obtenir le plus
grand élément, le plus petit, de faire des unions, intersections, ....
</p>
<p>
Comme pour les dictionnaires, on crée un module de gestion d'ensembles
à l'aide d'un foncteur, <moduledoc name="Set.Make"/>. Le module passé en paramètre
doit définir le type des éléments et la fonction d'ordre sur ces éléments.
On utilise dans l'exemple ci-dessous le même module <ml>MyKey</ml> que dans
l'exemple des dictionnaires, pour faire un module de manipulation d'ensembles
d'entiers:
</p>
<oc-eval toplevel="true"><![CDATA[
Random.self_init();;
module IntSet = Set.Make(MyKey);;
let rec f set i =
    if i <= 100 then
      f (IntSet.add (Random.int 4000) set) (i+1)
    else
      set;;
let set = f IntSet.empty 1;;
Printf.printf "Plus petit élément tiré: %d, plus grand: %d\n"
  (IntSet.min_elt set) (IntSet.max_elt set);;
flush stdout;;
let sum = IntSet.fold (+) set 0;;
]]></oc-eval>

<exercice id="exoset" title="Mots en commun">
<p id="sfmksdmflkdm">
Ecrire un programme prenant deux fichiers et affichant la liste des mots en commun
sur la sortie standard. On utilisera encore la fonction <ml>words</ml>
de l'<exercice href="exowords"/>.
</p>
<solution>
<ocaml id="diffwords" defer_="1"><codefile file="diff_words.ml"/></ocaml>
</solution>
</exercice>
</subsubsection>

<subsubsection id="queue" title="Files d'attente">
<p>
Le module <moduledoc name="Queue"/> implémente les files d'attente
(ou FIFO, pour First In First Out). Le type <ml>Queue.t</ml>
des files est donc paramétré par le type des éléments dans la file, de la même
façon que le type <ml>list</ml>.
Les modifications des files sont faites en place (par effet de bord).
</p>
</subsubsection>

<subsubsection id="stack" title="Piles">
<p>
Le module <moduledoc name="Stack"/> implémente les piles, là encore avec un
type <ml>Stack.t</ml> paramétré par le type des éléments stockés dans la pile.
Les modifications sont faites en place.
</p>
</subsubsection>

<subsubsection id="libremarks" title="Remarques">
<p>
On peut remarquer que certaines conventions de nommage sont respectées dans la
bibliothèque standard. Ainsi, les modules définissant un type de données le nomment
<ml>t</ml>, et les fonctions similaires partagent le même nom:
</p>
<ul>
<li><ml>String.length</ml>, <ml>Array.length</ml>, <ml>List.length</ml>, etc.</li>
<li><ml>List.fold_left</ml>, <ml>Array.fold_left</ml>, <ml>Hashtbl.fold</ml>, etc.</li>
</ul>
<p>
L'ordre des arguments est aussi cohérent. Ces conventions facilitent l'utilisation d'un
module à la place d'un autre pour changer de structure de données. Nous verrons un exemple
dans la section sur les foncteurs (section <doc href="modules/foncteurs"/>).
</p>
</subsubsection>
</subsection>

<subsection id="computation" title="Calcul">
<p>
Le module <moduledoc name="Complex"/> définit un type de données pour les nombres complexes
et des fonctions pour les manipuler.
</p>
<p>
Différents modules permettent d'effectuer des calculs sur des entiers avec
des représentations différentes du type <ml>int</ml>:
</p>
<ul>
<li><moduledoc name="Int32"/>: entiers 32 bits,</li>
<li><moduledoc name="Int64"/>: entiers 64 bits,</li>
<li><moduledoc name="Nativeint"/>: entiers 32 ou 64 bits, selon l'architecture,</li>
<li><moduledoc name="Big_int"/>: entiers de taille arbitraire.</li>
</ul>
</subsection>

<subsection id="libinout" title="Entrées-sorties">
<p>
Le module <moduledoc name="Printf"/> donne accès aux fonctions équivalentes des fonctions
<ml>printf</ml>, <ml>sprintf</ml>, <ml>fprintf</ml>, etc. du langage C. Par exemple:
</p>
<oc-eval toplevel="true"><![CDATA[
let str = Printf.sprintf "La somme de %d et %d est %d" 1 2 (1+2);;
let buffer = Buffer.create 256;;
Printf.bprintf buffer "Le produit de %d et %d donne %d" 4 5 (4*5);;
Buffer.contents buffer;;
]]></oc-eval>
<p>
Le type des paramètres des fonctions du module <moduledoc name="Printf"/> est
spécial, pour permettre le passage d'un nombre variable de paramètres en fonction
de la chaîne de <em>format</em> donnée:
</p>
<oc-eval toplevel="true"><![CDATA[
Printf.printf;;
]]></oc-eval>
<p>
Comme en C, des fonctions de lecture de valeurs de différents types depuis
des chaînes sont disponibles, dans le module <moduledoc name="Scanf"/>. Dans l'exemple
suivant, la fonction en paramètre de <ml>sscanf</ml> prend deux arguments entiers
car la chaîne de format contient deux <ml>%d</ml>. La cohérence de type
entre la chaîne de format et la fonction est réalisée par le compilateur:
</p>
<oc-eval toplevel="true"><![CDATA[
let str = "1 + 2";;
let sum = Scanf.sscanf str "%d + %d" (fun a b -> a + b) ;;
]]></oc-eval>
<p>
Des fonctionnalités de formatage de sortie texte plus élaborées sont disponibles
dans le module <moduledoc name="Format"/>: définition de marges, retour à la ligne automatique
en cas de dépassement de la largeur maximum imposée, manipulation de "boîtes"
de pretty-print, ....
</p>
<p>
Enfin, l'échange, le stockage et la lecture de données peuvent se faire
en utilisant les fonctions génériques de sérialisation du module
<moduledoc name="Marshal"/>. Les données ne doivent cependant pas contenir de
fonctions.
</p>
</subsection>

<subsection id="libsys" title="Interface avec le système">
<subsubsection id="arg" title="Analyse de la ligne de commande">
<p>
Le module <moduledoc name="Arg"/> offre des facilités pour analyser la ligne de
commande de lancement du programme.
</p>
<exercice id="argsumint" title="Somme de deux entiers">
<p>
Ecrire un programme qui accepte deux entiers sur la ligne de commande ainsi qu'une option
<icode>-prod</icode>. Le programme affiche la somme des deux entiers, ou bien le
produit si l'option <icode>-prod</icode> est passée. On écrira le code dans un
fichier <icode>exercice_arg.ml</icode> et on l'exécutera par exemple par la commande
</p>
<run>ocaml exercice_arg.ml -prod 4 8</run>
<solution>
<ocaml defer_="1"><codefile file="exercice_arg.ml"/></ocaml>
</solution>
</exercice>
</subsubsection>

<subsubsection id="filename" title="Noms de fichiers">
<p>
Le module <moduledoc name="Filename"/> contient des fonctions de manipulation des
noms de fichiers, utiles notamment pour produire du code portable sur
UNIX/Linux/Mac OS X et Windows en fournissant les fonctions
<ml>current_dir_name</ml>, <ml>parent_dir_name</ml>, <ml>concat</ml>,
<ml>dirname</ml>, .... Par exemple:
</p>
<oc-eval toplevel="true"><![CDATA[
let file = "/home/foo/file.txt";;
let dir = Filename.dirname file;;
let bname = Filename.basename file;;
Filename.concat dir bname;;
Filename.check_suffix file "txt";;
]]></oc-eval>
</subsubsection>

<subsubsection id="printexc" title="Gestion des exceptions">
<p>
Le module <moduledoc name="Printexc"/> offre des fonctions de convenance pour traiter
et afficher les exceptions, comme par exemple <ml>Printexc.to_string</ml>
qui retourne une chaîne pour représenter l'exception ou <ml>Printexc.print</ml> qui
affiche une exception non rattrapée lors de l'application d'une fonction
et relève l'exception:
</p>
<oc-eval toplevel="true" error-exc="false"><![CDATA[
int_of_string "bouh!";;
Printexc.print int_of_string "bouh!";;
]]></oc-eval>
</subsubsection>

<subsubsection id="gv" title="Contrôle du ramasse-miettes">
<p>
Le module <moduledoc name="Gc"/> permet de modifier le comportement du ramasse-miettes
ou glaneur de cellules (<em>garbage collector</em> en anglais)
et d'obtenir diverses statistiques sur la gestion
de la mémoire. Il est également possible d'indiquer un traitement
à effectuer lorsque la mémoire occupée par une valeur est libérée
par le GC (lorsque cette valeur n'est plus accessible).
</p>
</subsubsection>

<subsubsection id="sys" title="Interface avec le système d'exploitation">
<p>
Le module <moduledoc name="Sys"/> offre des fonctions portables de communication
avec le système d'exploitation concernant le système de fichiers,
le répertoire courant, les signaux, certaines constantes comme la taille
des mots, la longueur maximale d'une chaîne de caractères, etc.
On trouve également dans ce module <ml>Sys.argv</ml> qui est le tableau
des arguments de la ligne de commande. Comme en C, <ml>Sys.argv.(0)</ml>
est le nom de la commande lancée.
</p>
<oc-eval toplevel="true"><![CDATA[
let old_dir = Sys.getcwd();;
print_endline old_dir;;
Sys.chdir "/tmp";;
print_endline (Sys.getcwd());;
Sys.command "ls | head -n 3";;
Sys.chdir old_dir;;
]]></oc-eval>
</subsubsection>
</subsection>

<subsection id="utils" title="Utilitaires">
<p>
Quelques autres modules sont indiqués ici à titre informatif:
</p>
<ul>
<li><moduledoc name="Digest"/> offre des fonctions de calcul de <em>hash</em> utilisant
l'algorithme MD5:
<oc-eval toplevel="true"><![CDATA[
let md5 = Digest.to_hex (Digest.string (Marshal.to_string robert []));;
]]></oc-eval></li>
<li><moduledoc name="Lazy"/> permet d'utiliser de l'évaluation paresseuse, en
reportant l'évaluation d'une expression au moment où elle sera nécessaire:
<oc-eval toplevel="true"><![CDATA[
let f a b () = print_endline "évaluation!"; a + b ;;
let res = Lazy.from_fun (f 1 2);;
Lazy.force res;;
]]></oc-eval></li>
<li><moduledoc name="Lexing"/> et <moduledoc name="Parsing"/> servent lorsqu'on utilise
les outils <icode>ocamllex</icode> et <icode>ocamlyacc</icode> (cf. <doc href="env#parsing"/>),</li>
<li><moduledoc name="Random"/> permet la génération pseudo-aléatoire de nombres:
<oc-eval toplevel="true"><![CDATA[
Random.self_init()
 (* initialisation en utilisant une source aléatoire de la machine *);;
Random.int 10000 (* un nombre aléatoire entre 0 et 9999 *) ;;
Random.int 10000 ;;
Random.float 1000. ;;
]]></oc-eval></li>
</ul>
</subsection>
</section>

<section id="libother" title="Autres bibliothèques de la distribution">
<p>
La distribution contient encore d'autres bibliothèques, dont certaines disponibles
selon le système d'exploitation et les bibliothèques installées:
</p>
<ul>
<li><moduledoc name="Bigarray"/> permet la manipulation de tableaux de grande taille,</li>
<!--<li><moduledoc name="Dbm"/> offre une interface pour les bases DBM (paires clé-valeur),</li>-->
<li><moduledoc name="Dynlink"/> permet le chargement dynamique de code, utile pour
la création d'architecture à base de greffons (<em>plugins</em>),</li>
<li><moduledoc name="Graphics"/> offre des fonctions pour créer des graphiques simples,</li>
<li><ml>Labltk</ml> est l'interface avec la bibliothèque graphique Tcl/Tk, pour
créer des interfaces utilisateur graphiques simples (par le module <moduledoc name="Tk"/>
et les autres modules du répertoire <icode>labltk</icode> de l'installation),</li>
<li><moduledoc name="Num"/> est une bibliothèque de calcul arithmétique en précision arbitraire,
avec des modules comme <moduledoc name="Big_int"/>,</li>
<li><moduledoc name="Str"/> permet l'utilisation d'expressions régulières (recherche,
substitution, ...),</li>
<li><ml>Threads</ml> permet la création de programme multi-threads, grâce aux modules
<moduledoc name="Thread"/>, <moduledoc name="Mutex"/>, <moduledoc name="Condition"/> et <moduledoc name="Event"/>,</li>
<li><moduledoc name="Unix"/> offre l'accès aux fonctions systèmes UNIX.</li>
</ul>
<p>
Lorsqu'on utilise ces bibliothèques dans un programme OCaml, il faut les ajouter
sur la ligne de commande de création de l'exécutable, à la façon des
bibliothèques <icode>libXXX.a</icode> en C. Une bibliothèque <icode>B</icode>
dépendant d'une bibliothèque <icode>A</icode> doit être placée après la bibliothèque dont elle
dépend:
</p>
<sh>ocamlc -o mon_exe a.cma b.cma module1.cmo ...</sh>
<p>
pour la compilation code-octet, ou
</p>
<sh>ocamlopt -o mon_exe a.cmxa b.cmxa module1.cmx ...</sh>
<p>
pour la compilation en code natif.
</p>
<exercice id="listtmp" title="Lister les fichiers de /tmp">
<p id="eiuteoir">
Ecrire un programme qui affiche la liste des fichiers du répertoire <icode>/tmp</icode>,
en utilisant la bibliothèque Unix. On compilera son programme par la commande
</p>
<run>ocamlc -o lstmp unix.cma lstmp.ml</run>
<p>
(si votre programme est dans le fichier <icode>lstmp.ml</icode>).
</p>
<solution>
<oc-eval show-stdout="false" toplevel="false" defer_="1"><codefile file="lstmp.ml"/></oc-eval>
</solution>
</exercice>

<exercice id="printenv" title="Implémentation de printenv">
<p>
Ecrire un programme qui simule la commande <icode>printenv</icode>, c'est-à-dire qui affiche
la liste des variables d'environnement et leur contenu sous la forme <icode>VAR=VALUE</icode>.
Si des arguments sont passés sur la ligne de commande, seul le contenu des variables
données est affiché. On utilisera la bibliothèque Unix.
</p>
<run show-code="false" show-stdout="false">ocamlopt -o myprintenv unix.cmxa printenv.ml</run>
<solution>
<ocaml defer_="1"><codefile file="printenv.ml"/></ocaml>
</solution>
<p>
On testera le programme avec les commandes suivantes:
</p>
<ul>
<li>Affichage de tout l'environnement: <sh>$ ./myprintenv</sh></li>
<li>Affichage des variables SHELL et TERM: <run>./myprintenv SHELL TERM</run></li>
<li>Test d'erreur: <run>./myprintenv FOO ; echo $?</run></li>
</ul>
</exercice>

</section>
</module>
