<module title="Test de code OCaml"
with-contents="true"
module-name="tests"
draft="false"
>
<kmodurl mod="">http://kaputt.x9c.fr/distrib/api/<mod/>.html</kmodurl>
<kmod name=""><exta href="&lt;kmodurl mod=&quot;&amp;lt;name/&amp;gt;&quot;/&gt;"><ml defer_="1"><name/></ml></exta></kmod>
<kval mod="" val=""><exta href="&lt;kmodurl mod=&quot;&amp;lt;mod/&amp;gt;&quot;/&gt;#VAL&lt;val/&gt;"><ml defer_="1"><mod/>.<val/></ml></exta></kval>
<cl prompt="$&#xa0;"><sh defer_="1"><prompt/><contents/></sh></cl>
<contents>
<section counter="false" id="preambule" title="Préambule">
<p>Ce document est une introduction, <strong>non pas aux tests en général</strong>,
mais aux tests de code OCaml à l'aide du logiciel
<exta href="http://kaputt.x9c.fr">Kaputt</exta>.
</p>
</section>

<section id="introduction" title="Introduction">
<p>
La mise en place de tests lors du développement d'un logiciel gagne à être
pensée dès le début du développement, afin de développer conjointement
les tests et le code de test<note>Sans pour autant forcément tomber
dans le <em>Test Driven Development</em>.</note>. Les tests doivent être
automatisés pour pouvoir être relancés régulièrement, par exemple
après chaque modification du code.
</p>
<p>
L'environnement de test n'est pas à négliger. Sa facilité d'utilisation
et l'aisance avec laquelle on peut rapidement ajouter un test sont nécessaires
pour que cet ajout ne soit pas rebutant. Dans le cas contraire,
lorsque l'ajout de tests supplémentaires est pénible, le développeur
aura tendance à retarder cette activité.
</p>
<p>
L'environnement de test doit également être flexible pour pouvoir
tester une partie seulement du code, sous différentes conditions
(version bytecode ou code natif, ...). Enfin, il doit pouvoir
s'inscrire facilement dans l'environnement de développement en général,
notamment permettre une exploitation de ses résultats par des outils
en aval.
</p>
<p>
Kaputt fournit une bibliothèque de modules facilitant la définition
et l'exécution de tests, ainsi que des fonctions pour afficher les
résultats dans divers formats (texte, XML, ...).
</p>
<p>
Les tests seront donc définis en écrivant du code OCaml, appelant
des fonctions de la bibliothèque; de même pour la sortie des résultats.
</p>
<p>
Cette approche offre une grande expressivité et une grande flexibilité,
comme nous allons le voir plus loin.
</p>
<p>
Kaputt est installable avec <exta href="http://opam.ocaml.org">Opam</exta>
ou depuis ses sources.
</p>
</section>

<!--
<section id="setup" title="Mise en place de l'environnement de test">
<p>
Kaputt offre plusieurs possibilités pour définir et exécuter des tests.
</p>
<p>La première est l'exécution de code dans le toplevel <code>ocaml</code>:</p>
<oc-eval>#directory "+kaputt";;
#load "kaputt.cma";;
open Kaputt.Abbreviations;;
check Gen.int succ [Spec.is_odd_int ==> Spec.is_even_int]; flush stdout;;
</oc-eval>

<p>Pour des tests à lancer régulièrement, on préférera mettre leur code
dans des fichiers <code>.ml</code>. On souhaitera souvent
définir des tests pour des fonctions d'un module <ml>M</ml>
qui ne sont pas visibles à l'extérieur du module <ml>M</ml>. Ces
fonctions sont présentes dans le fichier <code>.ml</code> mais pas
dans le fichier d'interface <code>.mli</code> (cf.
<doc href="modules/progmod#intfimpl" long="true"/>).
</p>
<p>Le code de test doit donc pouvoir accéder à tout le contenu
du module <ml>M</ml>, donc être inclus dans le fichier <code>.ml</code>.
Cependant, on ne souhaite évidemment pas que les tests soient exécutés
dès qu'un module développé est utilisé. A vrai dire, on ne souhaite même
pas que le code de test soit présent dans le code du logiciel ou
de la bibliothèque lorsqu'ils sont compilés pour être installés.
</p>
<p>
Il y a deux possibilités pour résoudre ce problème.
</p>
<subsection id="camlp4oof" title="Utilisation de &lt;code&gt;camlp4oof&lt;/code&gt;">
<p>
La première possibilité
consiste en l'utilisation de l'extension de syntaxe Camlp4 <code>camlp4oof</code>,
utilisée comme préprocesseur. Cette extension autorise la syntaxe suivante:
</p>
<ocaml>let () =
  IFDEF TEST THEN
    print_endline "test mode on"
  ELSE
    print_endline "test mode off"
  ENDIF;;
</ocaml>
<p>
Il suffit alors de compiler le code en indiquant sur la ligne de
commande la commande de préprocesseur à utiliser, définissant ou non
<ml>TEST</ml>:
</p>
<cl>ocaml{c,opt} -pp ’camlp4oof -DTEST’ code.ml</cl>
<p>pour le mode <ml>TEST</ml> ou bien </p>
<cl>ocaml{c,opt} -pp ’camlp4oof’ code.ml</cl>
<p>pour compiler sans mode TEST.</p>
<p>Cette solution permet de mettre le code de test au plus près du code testé.
Cependant, si les tests sont nombreux, leur présence diminue la lisibilité du code.
</p>
</subsection>
-->

<!--
FIXME: add this section where ppx_optcomp work
<subsection id="ppx_optcomp" title="Utilisation du paquet ppx_optcomp">
<p>Une seconde solution consiste à utiliser l'extension ppx
<exta href="https://github.com/janestreet/ppx_optcomp"><code>ppx_optcomp</code></exta>
permettant elle aussi une compilation conditionnelle, au niveau ppx cette fois
(c'est-à-dire en transformant l'arbre de syntaxe abstraite).
</p>
<ocaml defer_="1"><codefile file="demo_optcomp.ml"/></ocaml>
<run>ocamlfind ocamlopt -o demo -package ppx_optcomp,ppx_getenv demo_optcomp.ml</run>
</subsection>
-->
<!--
<subsection id="kaputt_pp" title="Utilisation de &lt;code&gt;kaputt_pp.byte&lt;/code&gt;">
<p>Kaputt propose une solution alternative, consistant à placer le code
des tests du module <ml>M</ml> dans le fichier <code>m.mlt</code>. Kaputt
fournit un préprocesseur, <code>kaputt_pp.byte</code>, permettant, à la
compilation d'un fichier <code>.ml</code>,
d'ajouter à la fin le contenu du fichier <ml>.mlt</ml> correspondant.
Si nous voulons définir des tests pour des fonctions du fichier <code>foo.ml</code>,
nous plaçons notre code de test dans le fichier <code>foo.mlt</code>. Il suffit
ensuite que le process de compilation utilise le préprocesseur fourni par
Kaputt lorsqu'on souhaite compiler les tests:
</p>
<cl>ocamlc -c -pp 'kaputt_pp.byte on camlp4o' foo.ml</cl>
<p>L'argument <code>on</code> indique d'ajouter le contenu du fichier
<code>.mlt</code> correspondant pour fournir le tout au compilateur.
Si on ne souhaite pas intégrer le code de test, on remplacera <code>on</code>
par <code>off</code>.
</p>
<warning title="Chemin de kaputt_pp.byte">
<p>
Il est probable que <code>kaputt_pp.byte</code> ne soit pas dans notre <code>PATH</code>.
Il est par défaut installé dans le même répertoire que les bibliothèques de Kaputt.
On pourra donc utiliser la commande suivante, s'appuyant sur <code>ocamlfind</code>
pour appeler <code>kaputt_pp.byte</code> du paquet <code>kaputt</code>:
</p>
<cl>ocamlc -c -pp 'ocamlfind kaputt/kaputt_pp.byte on camlp4o' foo.ml</cl>
</warning>
</subsection>
</section>

<section id="assertions" title="Tests d'assertions">
<p>
Un test d'assertion consiste à vérifier qu'une condition est
remplie, c'est-à-dire qu'une expression booléenne vaut <ml>true</ml>.
C'est le cas notamment quand on teste que le retour d'un appel de fonction
est bien égal à une valeur de référence.
</p>
<p>
Le module <kmod name="Assertion"/> de Kaputt fournit des fonctions facilitant
l'écriture de tels tests, avec notamment des fonctions et modules
pour comparer des structures de données usuelles (piles, tables de hachages,
ensembles, ...), pouvant prendre en paramètre une fonction de comparaison.
De plus, les messages d'erreur peuvent être assez précis, indiquant la valeur
attendue, la valeur testée et un message explicatif.
</p>
<p>
Ainsi, on trouve par exemple une fonction pour créer une fonction
de comparaison de deux piles de valeurs:
</p>
<oc-eval>Kaputt.Assertion.make_equal_stack;;</oc-eval>
<p>
Utilisons cette fonction pour créer une fonction de comparaison
de piles de valeurs d'un type <ml>point</ml> que nous définissons également.
</p>
<p>
Auparavant, nous ouvrons le module <ml>Kaputt.Assertion</ml> pour rendre
visible tout son contenu dans l'environnement:
</p>
<oc-eval>open Kaputt.Assertion;;</oc-eval>
<oc-eval><![CDATA[
type point = { x : int ; y : int };;
let string_of_point { x ; y } = Printf.sprintf "(%d, %d)" x y ;;
let equal_point p1 p2 = p1.x = p2.x && p1.y = p2. y ;;
let equal_stack_point = make_equal_stack equal_point string_of_point ;;
]]></oc-eval>
<p>
A l'aide de cette fonction, nous pouvons comparer deux piles de points.
Nous définissons une pile "de référence" et une autre pile, différente.
Nous utilisons notre fonction de comparaison avec un message pour qu'en cas
d'inégalité l'exception levée comporte, en plus des valeurs qui diffèrent,
le message explicatif:
</p>
<oc-eval>let add_point stack x = Stack.push { x ; y = 0} stack;;
let pile_ref = Stack.create ();;
List.iter (add_point pile_ref) [ 1 ; 2 ; 3 ; 4 ];;
let pile_2 = Stack.create ();;
List.iter (add_point pile_2) [ 1 ; 2 ; 42 ; 4 ];;
equal_stack_point ~msg: "premier test" pile_ref pile_ref;;
try equal_stack_point ~msg: "deuxieme test" pile_ref pile_2
  with Failed f ->
    print_endline
      (Printf.sprintf "Failed: %s\nexpected value: %s\nactual_value: %s"
        f.message f.expected_value f.actual_value
      );;
</oc-eval>
<p>
Constatons au passage qu'en cas d'erreur, la fonction créée par
<ml>make_equal_stack</ml> ajoute la position dans la pile où
les valeurs ont différé.
</p>
<p>En pratique, nous n'écrirons pas le code qui rattrapera les exceptions
levées lors des comparaisons des tests d'assertions. Nous utiliserons
les fonctions du module <kmod name="Test"/> pour définir des tests
de différentes sortes (tests d'assertions, comme ci-dessus, ou tests
d'autres types, voir plus bas), et les fonctions de ce même module
pour exécuter les tests. Ces fonctions se chargeront de collecter
les résultats des tests pour ensuite en faire un rapport.
</p>
<p>
Voyons un exemple de définition et d'exécution de tests sur la fonction
<ml>is_prefix</ml> ci-dessous, qui prend deux chaînes de caractères
et renvoie <ml>true</ml>
si la première chaîne est un préfixe de la seconde (i.e. la seconde
chaîne commence par exactement la première chaîne) ou <ml>false</ml> sinon.
</p>
<p>
Pour les besoins de la cause, nous introduisons un bug, consistant
à vérifier un caractère de moins (nous ignorons le dernier caractère de
la première chaîne):
</p>
<oc-eval><![CDATA[let is_prefix s1 s2 =
  (* required bug here: ignore last char of s1 *)
  let s1 = String.sub s1 0 (max 0 (String.length s1 - 1)) in
  (* /bug *)
  let len1 = String.length s1 in
  let len2 = String.length s2 in
  (len1 <= len2) &&
    (String.sub s2 0 len1) = s1;;
]]></oc-eval>
<p>
Nous commençons par écrire une fonction qui crée un test à partir
de deux chaînes et du résultat attendu, en utilisant la fonction
de test <kval mod="Assertion" val="is_true"/> et la fonction
de création de test d'assertion <kval mod="Test" val="make_simple_test"/>:
</p>
<oc-eval><![CDATA[let mk_test title s1 s2 res =
  let f () = is_true ~msg: "duh!" (is_prefix s1 s2 = res) in
  Kaputt.Test.make_simple_test ~title f;;
]]></oc-eval>
<p>
Nous pouvons définir nos tests et les exécuter à l'aide de la fonction
<kval mod="Test" val="run_tests"/>:
</p>
<oc-eval>let tests =
  [
    mk_test "empty prefix" "" "foo" true ;
    mk_test "empty strings" "" "" true ;
    mk_test "empty second string" "foo" "" false ;
    mk_test "empty second string and one-char prefix" "x" "" false ;
    mk_test "different strings" "abc" "xyz" false ;
    mk_test "almost prefix" "abc" "abd" false ;
  ];;
Test.run_tests tests;;
flush stdout;;
</oc-eval>
<p>L'affichage par défaut est en mode texte sur la sortie standard.
Nous pouvons passer un paramètre
à <kval mod="Test" val="run_tests"/> pour obtenir par exemple du XML
sur la sortie d'erreur:
</p>
<oc-eval>Test.run_tests ~output: (Test.Xml_output stderr) tests;;
flush stderr;;</oc-eval>
<p>
Ce format de sortie est surtout utile pour alimenter d'autres outils,
notamment d'intégration continue. La variante <ml>Test.Xml_junit_output</ml>
permet la sortie dans un format compatible JUnit, pour s'interfacer
avec <exta href="http://jenkins-ci.org/">Jenkins</exta>.
</p>
<p>
Il est possible d'avoir une structure de données en retour de l'exécution
des tests, en utilisant par exemple <kval mod="Test" val="exec_tests"/>:
</p>
<oc-eval>Test.exec_tests tests;;</oc-eval>
</section>

<section id="specs" title="Tests de spécifications">
<p>
Un test de spécification est défini par une pré-condition et une
post-condition. Ces types de tests utilisent des générateurs de valeurs
aléatoires à tester. Quand une valeur vérifie une pré-condition, la post-condition
associée doit être vérifiée, sinon le test échoue pour cette valeur et cette
spécification.
</p>
<p>
Les spécifications sont exprimées à l'aide du module
<kmod name="Specification"/>, qui offre également des facilités pour
construire des prédicats (pré- et post-conditions) sur différentes
structures de données (piles, listes, ...) ainsi que des combinateurs
de prédicats.
</p>
<p>
Les générateurs de valeurs aléatoires sont définis à l'aide du module
<kmod name="Generator"/>, qui contient également des générateurs
pour les types de base et les structures de données courantes.
</p>
<p>
La fonction <kval mod="Test" val="run_random_test"/> permet de créer
un test de spécification, en prenant un générateur, la fonction
à tester et une spécification.
</p>
<p>Plutôt que décrire toutes les possibilités offertes par Kaputt, prenons
comme exemple le test d'une fonction <ml>to_roman</ml>
convertissant un entier en sa représentation en chiffres romains
(le code est <a href="../codes/tests/roman_numbers.ml">ici</a> mais il n'est
pas utile de le voir pour la suite).
</p>
<oc-eval toplevel="false" show-code="false" show-stdout="false">
<codefile file="roman_numbers.ml"/>
</oc-eval>
<oc-eval>to_roman;; to_roman 142;; to_roman 4999;;</oc-eval>
<p>
Nous pouvons bien sûr utiliser des tests d'assertions pour tester
la représentation retournée pour certaines valeurs. Comme il n'est
pas possible de tester la fonction pour toutes les valeurs possibles
en entrée, nous allons utiliser des tests de spécifications.
</p>
<p>Le générateur aléatoire à utiliser devra générer des valeurs entières
strictement supérieures à 0 et inférieures à 6000 (valeur choisie pour
éviter d'allouer des méga-octets de chaînes de caractères, car il est
peu probable que nous souhaitions convertir de tels nombres).
Nous le créons en utilisant la fonction
<kval mod="Generator" val="make_int"/>:
</p>
<oc-eval>let generator = Kaputt.Generator.make_int 1 6_000;;</oc-eval>
<p>
L'opérateur infixe <ml>(==>)</ml> permet de définir une spécification à partir de deux
prédicats, l'un sur les valeurs d'entrée de la fonction, l'autre sur
les valeurs de sortie:
</p>
<oc-eval>open Kaputt.Specification;;
(==>);;
</oc-eval>
<p>Nous définissons maintenant quelques spécifications:</p>
<ul>
<li>Quand une valeur se termine par un 9, alors la représentation
en chiffres romains se termine par "IX":
<oc-eval><![CDATA[let end_by_9 =
  (fun x -> x mod 10 = 9) ==>
  (fun s ->
    let len = String.length s in
    String.sub s (len - 2) 2 = "IX");;
]]></oc-eval>
</li>
<li>Quand une valeur est un multiple de 10, sa représentation en chiffres romains
ne peut pas comporter les caractères 'I' et 'V':
<oc-eval><![CDATA[let mult_of_10 =
  (fun x -> x mod 10 = 0) ==>
  (Kaputt.Specification.for_all_string (fun c -> c <> 'I' && c <> 'V')) ;;
]]></oc-eval>
</li>
<li>Quand une valeur est un multiple de 5, sa représentation en chiffres romains
ne peut se terminer par 'I' ni avoir 'I' en avant-dernière position:
<oc-eval><![CDATA[let mult_of_5 =
  (fun x -> x mod 5 = 0) ==>
  (fun s ->
    let len = String.length s in
    String.get s (len-1) <> 'I' &&
    (len < 2 || String.get s (len - 2) <> 'I')
  );;
]]></oc-eval>
</li>
</ul>
<p>
Nous pouvons maintenant utiliser ces spécifications pour créer un test
de notre fonction. Un test peut utiliser plusieurs spécifications,
chaque valeur générée étant utilisée par la première spécification
de la liste dont elle vérifie la pré-condition:
</p>
<oc-eval>
let test_to_roman = Kaputt.Test.make_random_test
  ~title: "Test de la conversion en chiffres romains"
  generator to_roman
  [ end_by_9 ; mult_of_10 ; mult_of_5 ] ;;
</oc-eval>
<p>
Finalement, il nous reste à lancer le test
</p>
<oc-eval><![CDATA[Kaputt.Test.run_test test_to_roman;;
flush stdout ;;
]]></oc-eval>
<p>
Le nombre de valeurs générées et le nombre d'essais de génération pour
trouver une spécification dont la pré-condition est vérifiée peuvent être
passés en paramètre à <kval mod="Test" val="make_random_test"/>:
</p>
<oc-eval id="finaltest">
let test_to_roman = Kaputt.Test.make_random_test
  ~title: "Test de la conversion en chiffres romains"
  ~nb_runs: 1000 ~nb_tries: 2
  generator to_roman
  [ end_by_9 ; mult_of_5 ; mult_of_10 ] ;;
Kaputt.Test.run_test test_to_roman;;
flush stdout ;;
</oc-eval>
</section>

<section id="exercice" title="Exercice">
<p>
Ecrire une fonction <ml>of_roman : string -> int</ml> prenant une chaîne
de caractères représentant un nombre romain et retournant ce nombre sous
forme d'un entier (ou bien utiliser la fonction <ml>of_roman</ml>
 <a href="../codes/tests/roman_numbers.ml">ici</a> sans regarder le
code de trop près pour faire un vrai test «boîte noire»).
</p>
<oc-eval toplevel="false" show-code="false" show-stdout="false">
<codefile file="roman_numbers.ml"/>
</oc-eval>
<oc-eval>of_roman "IX";; of_roman "XIV";; of_roman "MMCM";;</oc-eval>
<p>La fonction comporte un bogue. Réaliser des tests d'assertions et
des tests de spécifications pour le trouver.</p>
-->
<!--
<oc-eval><![CDATA[
for i = 1 to 200 do
  let s = to_roman i in
  let j = of_roman s in
  if j <> i then
    Printf.printf "Error: %d => %S => %d\n" i s j
done;;
flush stdout;;
]]></oc-eval>
-->
<!--
</section>
-->

<section id="conclusion" title="Conclusion">
<p>
Nous avons vu comment utiliser Kaputt et la souplesse qu'il permet pour
s'insérer dans l'environnement de compilation d'un logiciel OCaml.
</p>
<p>
Quelques exemples d'utilisation ont donné un aperçu des possibilités de
Kaputt, qui en offre bien d'autres (possibilités de classification
des tests de spécifications selon la valeur d'entrée, choix de la source aléatoire,
réduction des contre-exemples à des valeurs plus petites, ...)
que nous n'avons pas explorées ici mais qui sont indiquées dans le
<exta href="http://kaputt.x9c.fr/distrib/kaputt.html">manuel de Kaputt</exta> et dans
la <exta href="http://kaputt.x9c.fr/distrib/api/index.html">documentation des modules</exta>.
</p>
<p>
Kaputt n'est pas le seul cadriciel pour effectuer des tests de code en OCaml.
Il existe également <exta href="http://ounit.forge.ocamlcore.org/index.html">OUnit</exta>,
mais ce dernier est moins bien documenté et offre moins de souplesse que Kaputt quant
aux possibilités d'articuler le code de test et le code testé. Il ne semble pas non plus
offrir la richesse des facilités de Kaputt pour effectuer des tests de spécifications.
</p>
<p>Il existe également
<exta href="https://github.com/janestreet/ppx_inline_test"><code>ppx_inline_test</code></exta>,
offrant une extension de syntaxe pour définir facilement des tests et créer un exécutable
pour les lancer. Cependant, cet outil n'offre pas le même niveau de fonctionnalités
que Kaputt: pas de génération de valeurs, pas de tests de spécifications. Le format de
sortie est cependant analysable grammaticalement en aval.
</p>
<p>Enfin,
<exta href="https://github.com/janestreet/ppx_expect"><code>ppx_expect</code></exta>
est une autre extension de syntaxe permettant de spécifier la sortie attendue (une chaîne
de caractères). Si elle n'est pas fournie, l'outil est capable après une première exécution
d'ajouter dans le code source les chaînes de résultat attendues, afin de faciliter
l'écriture de tests. La sortie se présente sous forme de différences (format <code>diff</code>)
entre la sortie et la sortie attendue.
</p>
</section>
</contents>
</module>
