<module title="Types sommes extensibles"
with-contents="true"
module-name="types-ext"
since-ocaml="4.02.0"
>
<contents>
<section id="intro" title="Introduction">
<p>
Les types sommes (ou variants) extensibles permettent de définir des
<doc href="fonctionnelle#variants">types sommes</doc>
 dont on peut enrichir la liste des constructeurs. Ils ont été introduits
dans la version 4.02.0 d'OCaml.
</p>
<p>
Le type <ml>exn</ml> représentant les exceptions était déjà un tel type,
puisque la définition d'une exception ajoutait un constructeur à ce type.
Cependant, il s'agissait d'un traitement spécifique à ce type dans le
compilateur.
Le type <ml>exn</ml> est maintenant un type somme extensible "comme un autre".
</p>
</section>

<section id="def" title="Définition">
<p>
Un type somme extensible est d'abord défini sans constructeur, en indiquant
sa nature extensible, de la façon suivante:
</p>
<oc-eval toplevel="true">
type t = .. ;;
</oc-eval>
<p>On ajoute ensuite des constructeurs à l'aide de <ml>+=</ml>:</p>
<oc-eval toplevel="true">
type t += A of int | B of string
</oc-eval>
<p>
Il est bien sûr possible d'avoir des types paramétrés; dans ce cas, les
paramètres de types doivent être rappelés à chaque extension:
</p>
<oc-eval toplevel="true">
type 'a expr = .. ;;
type 'a expr += Val of 'a ;;
type 'a expr += Plus of 'a expr * 'a expr ;;
</oc-eval>
<p>
Il est possible d'étendre un type qui n'est pas dans le même module, en indiquant
le chemin du type au lieu du simple identifiant utilisé dans une nouvelle définition:
</p>
<oc-eval>module M = struct type 'a expr = .. end ;;
type 'a M.expr += (* noter le chemin du type étendu *)
  | Plus of 'a expr * 'a expr
  | Moins of 'a expr * 'a expr ;;
</oc-eval>
<p>
Lorsqu'un constructeur est ajouté, sa portée est la même que les constructeurs
d'un type somme non extensible ou un champ de type enregistrement (cf. <doc href="#usage"/>).
</p>
<p>
Enfin, il est possible de redéfinir un constructeur déjà présent dans le type, afin
de lui donner une porte supplémentaire, comme s'il était défini ici:
</p>
<oc-eval toplevel="true">
module M = struct
  type 'a expr = ..
  type 'a expr +=
    | Val of 'a
    | Plus of 'a expr * 'a expr
end;;
module N = struct
  type 'a M.expr +=
    | Plus = M.Plus (* Redéclaration du constructeur M.Plus *)
    | Moins of 'a M.expr * 'a M.expr
  end
</oc-eval>
<warning id="conflitdenom" title="Constructeurs de même nom">
<p>
Il est possible d'étendre un type extensible avec deux constructeurs
portant le même nom:
</p>
<oc-eval session="typesextfoo" toplevel="true">
type t = .. ;;
type t += A of int ;;
type t += A of float ;;
</oc-eval>
<p>Bien sûr, cela ne facilite pas la lecture du code. De plus, le premier constructeur
<ml>A</ml> dans l'exemple ci-dessus n'est plus utilisable après la définition du second.
On peut cependant étendre un type avec des constructeurs identiques dans deux modules
différents, chacun ayant une signification dans le module qui le définit:
</p>
<oc-eval session="typesextfoo" toplevel="true">
type t = .. ;;
module M1 = struct type t += A of int end  ;;
module M2 = struct type t += A of string end ;;
</oc-eval>

</warning>
</section>

<section id="usage" title="Usage">
<p>
La référence aux constructeurs d'un type somme extensible est faite de la même façon
que pour les types sommes, que cela soit pour la construction ou le filtrage de valeurs.
</p>
<oc-eval toplevel="true">
let v = M.Val 3;;
let op = M.Plus (v, v);;
let op2 = M.Plus (v, v);;
let op3 = N.Moins (v, v);;
</oc-eval>
<p>
Attention, puisque le constructeur <ml>Moins</ml> n'est déclaré que
dans le module <ml>N</ml>, on ne peut y faire référence en l'appelant
<ml>M.Moins</ml>, bien que le type <ml>expr</ml> soit bien défini dans
<ml>M</ml>. La portée d'un constructeur dépend de l'endroit où il est
défini:
</p>
<oc-eval error-exc="false">
let op4 = M.Moins (v, v);;
</oc-eval>
<p>Si nous pouvons faire référence à <ml>N.Plus</ml>, c'est parce que
ce constructeur a été redéclaré dans <ml>N</ml> en utilisant la notation
<ocaml>type 'a M.expr +=
  | Plus = M.Plus
</ocaml>
</p>
<p>
Comme ces types sont susceptibles d'être enrichis de nouveaux constructeurs,
le filtrage des valeurs de tels types doit comporter un cas "attrape-tout", sinon le
compilateur émet un avertissement indiquant que le filtrage n'est pas exhaustif:
</p>
<oc-eval toplevel="true">
let rec to_int = function
| M.Val n -> n
| M.Plus (v1, v2) -> (to_int v1) + (to_int v2)
| N.Moins (v1, v2) -> (to_int v1) - (to_int v2)
</oc-eval>
<warning>Un <exta href="https://caml.inria.fr/mantis/view.php?id=7330">bug</exta>
dans OCaml 4.03.0 a pour effet de ne pas afficher cet avertissement.</warning>
<p>
En effet, si nous étendons notre type avec un constructeur supplémentaire,
et que nous passons à notre fonction <ml>to_int</ml> une valeur construite avec
ce constructeur, nous obtenons une erreur de filtrage:
</p>
<oc-eval error-exc="false" toplevel="true">
type 'a M.expr += Mult of 'a M.expr * 'a M.expr ;;
to_int (Mult (v, v)) ;;
</oc-eval>
</section>
<section id="exemple" title="Exemple">
<p>
Un cas d'utilisation des types sommes extensibles est la manipulation de valeurs
d'un type dont les possibilités de constructions dépendent des modules
présents à la compilation, ou pour composer (multiplexer/démultiplexer) des valeurs
dont une partie du traitement est commun.
</p>
<p>Prenons l'exemple de messages dans une file. Bien que le traitement de la file
soit commun, les messages présents dans la file pourront varier selon qu'on lie
avec certains modules ou non.
</p>
<p>
Voici la partie commune de traitement de la file, avec la définition du type
extensible ainsi qu'une fonction permettant d'enrichir le traitement des valeurs
de ce type pour supporter les nouveaux constructeurs:
</p>
<oc-eval defer_="1" toplevel="false">
module Common = struct
<codefile file="common.ml"/>
end
</oc-eval>
<p>Nous pouvons ensuite définir deux modules, chacun ajoutant des constructeurs
de messages et utilisant la fonction <ml>extend</ml> pour permettre à
<ml>handle_queue_messages</ml> de traiter ces nouveaux messages. De plus,
ces modules mettent eux-mêmes des messages dans la file. Il serait bien sûr possible
de créer des messages à l'extérieur de ces modules, en référençant leurs constructeurs
par <ml>M1.Reload</ml> par exemple. Mais dans le cas de modules chargés dynamiquement
ou liés ou non à la compilation selon la configuration, on peut imaginer que
ces modules fassent des traitements opaques, tout en s'inscrivant dans la
gestion de messages de la file.
</p>
<oc-eval defer_="1" toplevel="false">
module M1 = struct
<codefile file="m1.ml"/>
end
module M2 = struct
<codefile file="m2.ml"/>
end
</oc-eval>
<p>Le traitement des messages se fait ensuite naturellement:
</p>
<oc-eval defer_="1" toplevel="true"><codefile file="use.ml"/>
</oc-eval>
<p>
Si l'on souhaite charger dynamiquement les modules <ml>M1</ml> et <ml>M2</ml>,
comme des greffons ajoutant des fonctionnalités via des messages, on peut placer
le contenu des modules <ml>Common</ml>, <ml>M1</ml> et <ml>M2</ml> respectivement
dans les fichiers <code>common.ml</code>, <code>m1.ml</code> et <code>m2.ml</code>,
et ajouter par exemple un fichier <ml>load.ml</ml> avec le contenu suivant:
</p>
<ocaml defer_="1"><codefile file="load.ml"/></ocaml>
<p>Ensuite, on compile les modules et on les lie ensemble dans un exécutable <code>load.x</code>:
</p>
<run list="true">
<x>ocamlc -c common.ml</x>
<x>ocamlc -c m1.ml</x>
<x>ocamlc -c m2.ml</x>
<x>ocamlc -o load.x dynlink.cma common.cmo load.ml</x>
</run>
<p>A l'exécution de <code>load.x</code>, les modules <ml>M1</ml> et <ml>M2</ml>
sont chargés dynamiquement, étendent le type <ml>msg</ml>, étendent la fonction
de traitement des messages et ajoutent chacun des messages dans la file, qui sont
ensuite traités après le chargement dynamique:
</p>
<run>./load.x</run>
</section>
</contents>
</module>
