@font-face {
    font-family: "Computer Modern";
    src:  url('fonts/cmunss.otf') format('opentype');
  }
@font-face {
    font-family: "Computer Modern";
    src: url('fonts/cmunsx.otf') format('opentype');
    font-weight: bold;
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/SourceCodePro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/SourceCodePro-Semibold.ttf') format('truetype');
}