<multi path-sep="/"
>
<news id="2015-01-13" date="2015/01/13" with-contents="true">
  <title>Ajout d'un module <doc href="/modules/types-ext"/>.</title>
</news>
<news id="2014-09-15" date="2014/09/15" with-contents="true">
  <title>Ajout d'un module <doc href="/modules/parallele"/>.</title>
</news>
<news id="2014-06-25" date="2014/06/25" with-contents="true">
      <title>Ajout de modules: <doc href="/modules/objets"/> et <doc href="/modules/tests"/>.</title>
</news>
<news id="2014-04-03" date="2014/04/03"
      title="Dépendances entre les modules, amélioration du style"/>
<news id="2013-10-07" date="2013/10/07"
      title="Mise à jour: liens, OCaml 4.01 + corrections de typos."/>
<news id="2012-12-17" date="2012/12/17"
      title="Ajout d'un  blog avec des exemples et exercices supplémentaires."
      doc-href="/blog"/>
<news id="2012-12-12" date="2012/12/12" with-contents="true">
      <title>Mise en ligne des <doc href="slides/slides_loops_2012_12_11.html">'transparents'</doc> utilisés pour la <exta href="https://reseau-loops.github.io/journee_2012_12.html">journée LoOPS du 11 décembre 2012"</exta></title></news>
<news id="2012-10-24" date="2012/10/24" with-contents="true">
      <title>Utilisation de <exta href="https://www.good-eris.net/stog">Stog</exta> pour générer le support. Ajout de liens vers des outils.</title></news>
<news id="2012-02-08" date="2012/02/08"
      title="Corrections de typos, ajout des liens vers ODT, OCaml editor, TryOCaml et la version française du cours de programmation système en OCaml"/>

<contents type="page" title="Nouvelles">

<documents type="news,post" rss="blog.rss"/>
</contents>

</multi>
