<page main_="true"
title="Introduction au langage OCaml"
stog:site-description=""
stog:site-email="maxence 'DOT' guesdon 'AT' inria 'DOT' fr"
stog:site-url="https://www.good-eris.net/formation-ocaml"
stog:rss-length="10"
with-contents="true"
section-counter="false"
>
<stog:nbsp>&#160;</stog:nbsp>
<stog:command-prompt>$<nbsp/></stog:command-prompt>

<stog:exta href="" target="blank_"><a
class="ext-a" target="&lt;target/&gt;" href="&lt;href/&gt;"><contents/></a></stog:exta>

<stog:run
   show-code="true" show-stdout="true" list=""
  directory="&lt;ocaml-session-directory/&gt;" stop-on-error="true">
<exec list="&lt;list/&gt;"
   show-code="&lt;show-code/&gt;" show-stdout="&lt;show-stdout/&gt;"
   stop-on-error="&lt;stop-on-error/&gt;" prompt="&lt;command-prompt/&gt;"
   directory="&lt;directory/&gt;" defer_="1"><contents/></exec>
</stog:run>

<stog:modulenode name="">
<env_ nameurl="&lt;doc-url doc-path=&quot;modules/&amp;lt;name/&amp;gt;&quot;/&gt;">
<name/> [ fillcolor="<if url="&lt;nameurl/&gt;"><dummy_>yellow</dummy_><dummy_>palegreen1</dummy_></if>"
          label="<doc-title doc-path="modules/&lt;name/&gt;"/>"
          <if url="&lt;nameurl/&gt;"><dummy_/><dummy_>, href="<nameurl/>"</dummy_></if>] ;
</env_>
</stog:modulenode>

<stog:todo text=""><div class="todo">TODO: <if text=""><contents/><text/></if></div></stog:todo>
<stog:cite-format>[<bib-entry-rank/>]</stog:cite-format>

<stog:sh foo=""><command-line defer_="1"><contents/></command-line></stog:sh>
<stog:ml foo=""><icode defer_="1" lang="ocaml"><contents/></icode></stog:ml>


<stog:fixme text="hello"><div class="alert alert-error">FIXME: <text/></div></stog:fixme>
<stog:figure id="" title="" href="">
  <if href="">
    <block protect_="title,id" counter-name="figure" class="figure"
           label="Figure" href="&lt;href/&gt;"
           id="&lt;id/&gt;" title="&lt;title/&gt;">
<div class="&lt;class/&gt;" id="&lt;id/&gt;">
  <div class="title"><title/></div>
  <div class="contents"><contents/></div>
</div></block>
  <block doc-path="&lt;doc-path/&gt;" href="&lt;href/&gt;"/>
</if></stog:figure>

<stog:warning id="" title="" href="">
<if href="">
  <block protect_="title,id" counter-name="warning" class="warning"
           label="Avertissement" href="&lt;href/&gt;"
           id="&lt;id/&gt;" title="&lt;title/&gt;">
<div class="&lt;class/&gt;" id="&lt;id/&gt;">
  <div class="title"><title/></div>
  <div class="contents"><contents/></div>
</div></block>
  <block doc-path="&lt;doc-path/&gt;" href="&lt;href/&gt;"/>
</if></stog:warning>

<stog:exercice id="" title="" href="">
<if href="">
  <block protect_="title,id" counter-name="exercice" class="exercice"
           label="Exercice" href="&lt;href/&gt;"
           id="&lt;id/&gt;" title="&lt;title/&gt;">
<div class="&lt;class/&gt;" id="&lt;id/&gt;">
  <div class="title"><title/></div>
  <div class="contents"><contents/></div>
</div></block>
  <block doc-path="&lt;doc-path/&gt;" href="&lt;href/&gt;"/>
</if></stog:exercice>

<stog:cmp foo=""><span class="cmp"><contents/></span></stog:cmp>

<stog:stx foo=""><tt><contents/></tt></stog:stx>
<stog:centerstx id="" foo="">
<if id=""><pre class="syntax"><contents/></pre><pre id="&lt;id/&gt;"><contents/></pre></if></stog:centerstx>
<stog:stxid foo=""><em><contents/></em></stog:stxid>

<stog:module-name></stog:module-name>
<stog:ocaml-session-directory>codes/<module-name/></stog:ocaml-session-directory>
<stog:ocaml-session><module-name/></stog:ocaml-session>
<stog:oc-eval id="" show-code="true" show-stdout="true" toplevel="true" error-exc="true" print-locs="false" highlight-locs="" session="&lt;ocaml-session/&gt;" directory="&lt;ocaml-session-directory/&gt;">
<ocaml-eval id="&lt;id/&gt;" toplevel="&lt;toplevel/&gt;"
  show-code="&lt;show-code/&gt;" show-stdout="&lt;show-stdout/&gt;"
  error-exc="&lt;error-exc/&gt;" session="&lt;session/&gt;"
  directory="&lt;directory/&gt;"
  print-locs="&lt;print-locs/&gt;" highlight-locs="&lt;highlight-locs/&gt;"
  defer_="1"><contents/></ocaml-eval>
</stog:oc-eval>
<stog:codefile file=""><include file="../&lt;ocaml-session-directory/&gt;/&lt;file/&gt;" raw="true"/></stog:codefile>

<stog:seemanual href=""><a href="&lt;href/&gt;"><img width="16" src="&lt;site-url/&gt;/book.svg" title="Voir le manuel" alt="Voir le manuel"/></a></stog:seemanual>

<stog:urlocamlsite>https://ocaml.org/</stog:urlocamlsite>
<stog:urlocamlman><urlocamlsite/>manual/</stog:urlocamlman>
<stog:urlocamlapi><urlocamlsite/>api/</stog:urlocamlapi>
<stog:moduledoc name=""><exta href="&lt;urlocamlapi/&gt;&lt;name/&gt;.html"><ml><name/></ml></exta></stog:moduledoc>

<stog:urldoctoplevel><urlocamlman/>toplevel.html</stog:urldoctoplevel>
<stog:urldococamlc><urlocamlman/>comp.html</stog:urldococamlc>
<stog:urldococamlopt><urlocamlman/>native.html</stog:urldococamlopt>
<stog:urldococamlintfc><urlocamlman/>intfc.html</stog:urldococamlintfc>
<stog:urldococamlexts><urlocamlman/>extn.html</stog:urldococamlexts>
<stog:urldococamlextnodes><urlocamlman/>extensionnodes.html</stog:urldococamlextnodes>
<stog:urlocamldoc><urlocamlman/>ocamldoc.html</stog:urlocamldoc>
<stog:urlocamlyacc><urlocamlman/>lexyacc.html</stog:urlocamlyacc>
<stog:urlocamldep><urlocamlman/>depend.html</stog:urlocamldep>
<stog:urlocamldebug><urlocamlman/>debugger.html</stog:urlocamldebug>
<stog:urlocamlprof><urlocamlman/>profil.html</stog:urlocamlprof>

<stog:urldune>https://github.com/ocaml/dune</stog:urldune>
<stog:urlcamlp5>https://camlp5.github.io/</stog:urlcamlp5>
<stog:urlcamlp4>https://github.com/camlp4/camlp4</stog:urlcamlp4>
<stog:urlutop>https://github.com/ocaml-community/utop</stog:urlutop>
<stog:urltryocaml>https://try.ocamlpro.com/</stog:urltryocaml>

<stog:urlstdlib><moduledoc name="Stdlib"/></stog:urlstdlib>
<stog:urldoccoretypes><urlocamlman/>core.html#ss:builtin-types</stog:urldoccoretypes>
<stog:urldocoutputfuns><urlocamlapi/>Stdlib.html#2_Generaloutputfunctions</stog:urldocoutputfuns>
<stog:urldocinputfuns><urlocamlapi/>Stdlib.html#2_Generalinputfunctions</stog:urldocinputfuns>
<stog:urldocindentconseils>https://caml.inria.fr/resources/doc/guides/guidelines.fr.html#indentation</stog:urldocindentconseils>
<stog:urldoccorecomp><urlocamlapi/>Stdlib.html#1_Comparisons</stog:urldoccorecomp>
<stog:urldoccoreint><urlocamlapi/>Stdlib.html#1_Integerarithmetic</stog:urldoccoreint>
<stog:urldoccorebit><urlocamlapi/>#2_Bitwiseoperations</stog:urldoccorebit>
<stog:urldoccorefloat><urlocamlapi/>Stdlib.html#1_Floatingpointarithmetic</stog:urldoccorefloat>

<stog:solution-label>Réponse</stog:solution-label>
<stog:sectionning>section,subsection,subsubsection,paragraph</stog:sectionning>

<stog:since-version-tag v="">
<div class="since-version-number">OCaml ≥ <a href="https://ocaml.org/releases/&lt;v/&gt;.html"><v/></a></div>
</stog:since-version-tag>

<stog:before-version-tag v="">
<div class="since-version-number">OCaml &lt; <v/></div>
</stog:before-version-tag>

<stog:since-version v="">
<div class="since-version">
<div class="since-version-number">OCaml ≥ <a href="https://ocaml.org/releases/&lt;v/&gt;.html"><v/></a></div>
<contents/>
<div class="since-version-number-bottom">OCaml ≥ <v/></div>
</div>
</stog:since-version>

<contents>
<rdf subject="&lt;site-url/&gt;" pred="dc:title"><site-title/></rdf>
<rdf subject="&lt;site-url/&gt;" pred="dc:creator" obj="https://zoggy.good-eris.net/"/>
<rdf subject="&lt;site-url/&gt;" pred="dc:description" obj="#intro"/>
<rdf subject="&lt;site-url/&gt;" pred="dc:license" obj="#license"/>
<rdf subject="&lt;site-url/&gt;" pred="dc:language">fr</rdf>
<rdf subject="&lt;site-url/&gt;" pred="dc:subject">ocaml</rdf>
<rdf subject="&lt;site-url/&gt;" pred="dc:subject">programmation</rdf>
<rdf subject="&lt;site-url/&gt;" pred="dc:subject">formation</rdf>
<rdf subject="&lt;site-url/&gt;" pred="dc:subject">cours</rdf>

<prepare-toc>
<section counter="false" id="intro">
<div class="img-float-right"><toc/></div>
<p>
Ce site héberge un support de cours que j'ai écrit pour une introduction au langage OCaml
sous forme de travaux pratiques. J'assure régulièrement cette formation
dans les centres INRIA de Rocquencourt et Saclay. Je la mets à disposition pour
permettre une utilisation similaire.
</p>
<p>
Toutes les explications données pendant la formation ne sont pas (encore?) écrites. Je
pense notamment à la notion d'environnement d'évaluation qui mériterait quelques
schémas (je réfléchis à faire générer des figures automatiquement pour
illustrer ce propos).
</p>
<!--
<p>
L'intermède scientifique dont il est question à la fin du chapitre sur la
programmation fonctionnelle est un exposé sur les recherches en cours liées au
développement d'OCaml: typage, vérification de type, inférence, ... Lors de
la formation, il était assuré par Didier Rémy, chercheur dans l'équipe
Gallium du centre INRIA Paris-Rocquencourt.
</p>
-->
<p>
Un pré-requis pour cette formation est une connaissance de la programmation
(algorithmique notamment). Selon le niveau, les modules choisis et pour
faire tous les exercices, compter entre deux et cinq jours.
</p>
<p>
Merci à ceux ayant déjà suivi cette formation pour leurs retours, ainsi que
Xavier Clerc et JP Rodi pour leurs relectures attentives.
</p>
</section>
<section id="supports" title="Accès aux supports">
<p>
<doc href="intro">Le support rédigé est disponible ici</doc>. La dernière modification date
du 15 juillet 2021.
</p>
<p>Des "transparents" sont aussi accessibles:</p>
<ul>
<li><doc href="slides_loops_2012_12_11">Présentation à la journée LoOPS du 11 décembre 2012</doc>,</li>
<li><doc href="slides">Atelier à la journée LoOPS du 11 dcembre 2012</doc>.</li>
</ul>
<p>
Enfin, <doc href="/exemples">d'autres exemples et exercices</doc> viennent enrichir le site,
ainsi qu'une <doc href="/faq">foire aux questions</doc>.
</p>
</section>

<section id="updates" title="Dernières nouvelles">
<div class="rss-button"><a href="&lt;site-url/&gt;/blog.rss"><img alt="Rss feed" src="&lt;site-url/&gt;/rss.png"/></a></div>
<documents tmpl="doc-in-list.tmpl" type="news,post"/>
</section>

<section id="hosting" title="Hébergement et développement">
<p>Les sources de ce site sont disponibles sur
 <a href="https://framagit.org/zoggy/formation-ocaml">Framagit</a>.
</p>
</section>

<section id="licence" title="Licence">
<p>
<exta href="https://creativecommons.org/licenses/by-nc-sa/2.0/fr/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-sa/2.0/fr/80x15.png"/></exta><br/>"Introduction au langage OCaml" par <exta href="https://zoggy.good-eris.net/">Maxence Guesdon</exta> est mis à disposition selon les termes de la <exta href="https://creativecommons.org/licenses/by-nc-sa/2.0/fr/" rel="license">licence Creative Commons Paternité-Pas d'Utilisation Commerciale-Partage des Conditions Initiales à l'Identique 2.0 France</exta>.
</p>
</section>

<section id="contact" title="Auteur et contact">
<p>
Maxence Guesdon <icode>&lt;Maxence 'POINT' Guesdon 'AT' inria 'POINT' fr&gt;</icode>
</p>
</section>
</prepare-toc>
</contents>
</page>
