<slideshow title="Développer en OCaml"
  with-contents="true"
  sectionning=""
>
<myheader id="">
<header class="slide" id="&lt;id/&gt;"><contents/></header>
</myheader>

<slide id="" title="" mapto="" href="" is_section="false">
<block href="&lt;href/&gt;"
   id="&lt;id/&gt;" title="&lt;title/&gt;"
   with-contents="true"
   >
<long-title-format><title/></long-title-format>
<short-title-format><title/></short-title-format>
<contents
><div class="slide" title="&lt;title/&gt;" id="&lt;id/&gt;"
><if title=""><dummy_/><if is_section="true"><dummy_/><h1><title/></h1></if></if><contents/>
<if mapto=""><dummy_/><div class="mapto"><doc href="&lt;mapto/&gt;"/></div></if></div>
</contents></block>
</slide>

<!--
<section id="" title="" mapto="">
<env_ thecontents="&lt;contents/&gt;" thetitle="&lt;title/&gt;">
<slide id="&lt;id/&gt;" title="&lt;title/&gt;" is_section="true"><div class="big-title"><thetitle/></div><thecontents/></slide>
</env_>
</section>
-->

<section id="" title="" mapto="">
<slide defer_="1" id="&lt;id/&gt;" title="&lt;title/&gt;" is_section="true">
  <div class="big-title"><title/></div><contents/>
</slide>
</section>

<inc-code href=""><late-inc href="&lt;href/&gt;"/></inc-code>
<dinc-code href=""><div class="delayed persistent"><inc-code href="&lt;href/&gt;"/></div></dinc-code>

<ddiv contents="&lt;contents/&gt;"><div class="delayed persistent"><contents/></div></ddiv>
<dli contents="&lt;contents/&gt;"><li class="delayed persistent"><contents/></li></dli>

<mylist sep="&lt;span&gt;,  &lt;/span&gt;"><list defer_="1" sep="&lt;sep/&gt;"><contents/></list></mylist>

<contents>
<myheader>
<h1> </h1>
 <div class="logo"><img src="../ocaml.png" width="600"/></div>
  <div class="attribution">Maxence Guesdon - INRIA Saclay Île-de-France -
  Durée: environ 2h</div>
</myheader>

<slide title="Plan" id="plan">
<ul>
<li><doc href="#intro"/>,</li>
<li><doc href="#progfonc"/>,</li>
<li><doc href="#stdlib"/>.</li>
</ul>
</slide>

<section id="intro" title="Introduction">
<p>Présentation du langage</p>
<ul>
<li><doc href="#caracteristiques"/>,</li>
<li><doc href="#modes"/>,</li>
<li><doc href="#extensions_"/>.</li>
</ul>
</section>

<slide id="caracteristiques" title="Caractéristiques" mapto="presentation#description">
<p>OCaml est:</p>
<ul>
<dli>un langage généraliste multi-paradigme: fonctionnel, impératif, objet,</dli>
<dli>typé statiquement, avec inférence des types,</dli>
<dli>polymorphe paramétrique,</dli>
<dli>doté d'un système d'exceptions,</dli>
<dli>livré avec de nombreuses bibliothèques,</dli>
<dli>utilisé par une large et dynamique communauté,</dli>
<dli>interfaçable avec C et Fortran,</dli>
<dli>muni d'un ramasse-miettes (garbage-collector),</dli>
<dli>rapide et portable,</dli>
<dli>issu de la recherche académique (INRIA) et utilisé également dans l'industrie.</dli>
</ul>
</slide>

<slide id="modes" title="3 modes d'exécution" mapto="presentation#eval">
<ul>
<dli>interprète: <icode>ocaml</icode>. Comme un shell.
<sh>$ ocaml</sh>
ou <sh>$ ocaml fichier.ml ...</sh>
<ocaml-eval toplevel="true">1 + 1;;</ocaml-eval>
</dli>
<dli>compilation en bytecode: <icode>ocamlc</icode>. Pour la portabilité.
<sh>$ ocamlc -c -I .... fichier.ml
$ ocamlc -o mon_prog fichier.cmo fichier2.cmo ...</sh>
</dli>
<dli>compilation en code natif: <icode>ocamlopt</icode>. Pour la rapidité.
<sh>$ ocamlopt -c -I .... fichier.ml
$ ocamlopt -o mon_prog fichier.cmx fichier2.cmx ...</sh>
</dli>
</ul>
</slide>

<slide id="extensions_" title="Extensions" mapto="presentation#extensions">
<inc-code href="presentation#extensions"/>
</slide>

<section id="progfonc" title="Programmation fonctionnelle">
<ul>
<li><doc href="#basetypes"/>,</li>
<li><doc href="#conditionnelle"/>,</li>
<li><doc href="#let"/>,</li>
<li><doc href="#funs"/>,</li>
<li><doc href="#patternmatching"/>,</li>
<li><doc href="#types"/>.</li>
</ul>
</section>

<slide id="basetypes" title="Types de base" mapto="fonctionnelle#basetypes">
<h2>Entiers</h2>
<inc-code href="fonctionnelle#code-ints"/>
</slide>

<slide id="floats" title="Types de base" mapto="fonctionnelle#floats">
<h2>Flottants</h2>
<inc-code href="fonctionnelle#code-floats"/>
</slide>

<slide id="booleans" title="Types de base" mapto="fonctionnelle#booleans">
<h2>Booléens</h2>
<inc-code href="fonctionnelle#code-booleans"/>
</slide>

<slide id="chars" title="Types de base" mapto="fonctionnelle#chars">
<h2>Caractères</h2>
<inc-code href="fonctionnelle#code-chars"/>
</slide>

<slide id="strings" title="Types de base" mapto="fonctionnelle#strings">
<h2>Chaînes de caractères</h2>
<inc-code href="fonctionnelle#code-strings"/>
</slide>

<slide id="unit" title="Types de base" mapto="fonctionnelle#unit">
<h2>Unit</h2>
<inc-code href="fonctionnelle#code-unit"/>
</slide>

<slide id="tuples" title="Types de base" mapto="fonctionnelle#tuples">
<h2>Tuples</h2>
<inc-code href="fonctionnelle#code-tuples"/>
</slide>

<slide id="lists" title="Types de base" mapto="fonctionnelle#lists">
<h2>Listes</h2>
<inc-code href="fonctionnelle#code-lists"/>
</slide>

<slide id="noconv" title="Types de base">
<h2>Attention</h2>
<ocaml-eval toplevel="true" error-exc="false">
1 +. 2.0 ;;
1 + 2.0;;
</ocaml-eval>
</slide>

<slide title="Types de base" mapto="fonctionnelle#comparaisons">
<h2>Comparaisons</h2>
<inc-code href="fonctionnelle#code-comparisons"/>
</slide>

<slide id="conditionnelle" title="Conditionnelle" mapto="fonctionnelle#conditionnelle">
<ocaml>if expression1 then expression2 else expression3
if expression1 then expression2</ocaml>
<inc-code href="fonctionnelle#code-conditionnelle"/>
</slide>


<slide id="let" title="Déclarations" mapto="fonctionnelle#decl">
<p>Déclaration globale:</p>
<ocaml>let ident = expression;;</ocaml>
<inc-code href="fonctionnelle#code-declglob"/>

<ddiv>
<p>Déclaration locale:</p>
<ocaml>let ident = expression1 in expression2</ocaml>
<inc-code href="fonctionnelle#code-decllocal"/>
</ddiv>
</slide>

<slide id="letrec" title="Déclarations simultanées" mapto="fonctionnelle#recdecl">
<inc-code href="fonctionnelle#code-declsimul"/>
<dinc-code href="fonctionnelle#code-declsimul2"/>
</slide>

<slide id="funs" title="Fonctions" mapto="fonctionnelle#expr">
<p>Définition:
<inc-code href="fonctionnelle#code-funs"/>
</p>
<ddiv><p>Application:</p>
<inc-code href="fonctionnelle#code-funs2"/>
</ddiv>
<ddiv><p>Application partielle:</p>
<inc-code href="fonctionnelle#code-funs3"/>
</ddiv>
</slide>

<slide id="funs2" title="Nommage de fonctions" mapto="fonctionnelle#expr">
<inc-code href="fonctionnelle#code-funs4"/>
<p>Utilisation:</p>
<dinc-code href="fonctionnelle#code-funs5"/>
</slide>


<slide id="parenth" title="Place des parenthèses" mapto="fonctionnelle#parenth">
<inc-code href="fonctionnelle#code-parenth"/>
</slide>

<slide id="closures" title="Fermetures" mapto="fonctionnelle#closures">
<inc-code href="fonctionnelle#code-closures"/>
</slide>

<slide id="higherorder" title="Fonctions d'ordre supérieur" mapto="fonctionnelle#higher">
<inc-code href="fonctionnelle#code-higher"/>
<dinc-code href="fonctionnelle#code-higher2"/>
</slide>

<slide id="recur" title="Récursion" mapto="fonctionnelle#recur">
<inc-code href="fonctionnelle#code-recur"/>
<dinc-code href="fonctionnelle#code-recur2"/>
<dinc-code href="fonctionnelle#code-recur3"/>
</slide>

<slide id="ex" title="Exercice" mapto="fonctionnelle#redeflistmap">
<inc-code href="fonctionnelle#redeflistmap"/>
</slide>

<slide id="ex2" title="Exercice" mapto="fonctionnelle#minint">
<inc-code href="fonctionnelle#minint"/>
</slide>

<slide id="ex3" title="Exercice" mapto="fonctionnelle#average">
<inc-code href="fonctionnelle#average"/>
</slide>

<slide id="patternmatching" title="Filtrage de motif (pattern matching)" mapto="fonctionnelle#filtrage">
<inc-code href="fonctionnelle#patternsyntax"/>
<ddiv><p>Filtrage d'un entier:</p>
<inc-code href="fonctionnelle#code-pattern-int"/>
</ddiv>
</slide>

<slide id="patternmatching2" title="Filtrage de motif (pattern matching)" mapto="fonctionnelle#filtrage">
<p>Filtrage d'une liste:</p>
<inc-code href="fonctionnelle#code-pattern-list"/>
<ddiv><p>Attention:</p>
<inc-code href="fonctionnelle#code-badmatch"/>
</ddiv>
</slide>

<slide id="patternmatching3" title="Filtrage de motif (pattern matching)" mapto="fonctionnelle#declfilt">
<inc-code href="fonctionnelle#code-declfilt"/>
</slide>


<slide id="ex4" title="Exercice" mapto="fonctionnelle#palindromlist">
<inc-code href="fonctionnelle#palindromlist"/>
</slide>

<slide id="types" title="Déclaration de types" mapto="fonctionnelle#decltypes">
<inc-code href="fonctionnelle#code-decltypes"/>
<dinc-code href="fonctionnelle#code-decltypes2"/>
<dinc-code href="fonctionnelle#code-decltypes3"/>
</slide>

<slide id="records" title="Types enregistrements (records)" mapto="fonctionnelle#records">
<inc-code href="fonctionnelle#code-records"/>
</slide>

<slide id="variants" title="Types sommes (variants)" mapto="fonctionnelle#variants">
<inc-code href="fonctionnelle#code-variants"/>
<ddiv><p>Création de valeur:</p>
<inc-code href="fonctionnelle#code-variants-create"/>
</ddiv>
<ddiv><p>Filtrage de valeur:</p>
<inc-code href="fonctionnelle#code-variants-filt"/>
</ddiv>
</slide>

<slide id="ex5" title="Exercice: représentation d'expressions" mapto="fonctionnelle#variants:exo">
<inc-code href="fonctionnelle#exoexpr"/>
</slide>

<section id="stdlib" title="Utiliser la bibliothèque standard">
<ul>
<li><doc href="#stdlibis"/>,</li>
<li><doc href="#usingmods">Modules, exceptions</doc>,</li>
<li><doc href="#tac">Exercices.</doc></li>
</ul>
</section>

<slide id="stdlibis" title="La bibliothèque standard" mapto="stdlib">
<p>
Elle comporte
</p>
<ul>
<dli>le module <icode>Stdlib</icode> contenant les types, fonctions et
exceptions de base,</dli>
<dli>un ensemble d'autres modules pour:
  <ul>
    <dli>manipuler des structures de données usuelles:
      <mylist><icode>List</icode><icode>String</icode><icode>Map</icode><icode>Hashtbl</icode><icode>Array</icode><icode>Set</icode><icode>Stack</icode><icode>Queue</icode>...</mylist>
      </dli>
    <dli>effectuer des calculs:
      <mylist><icode>Complex</icode><icode>Int32</icode><icode>Int64</icode><icode>Native_int</icode><icode>Big_int</icode></mylist>
    </dli>
    <dli>effectuer des entrées-sorties:
      <mylist><icode>Format</icode><icode>Printf</icode><icode>Scanf</icode><icode>Marshal</icode></mylist>
    </dli>
    <dli>accéder au système:
      <mylist><icode>Arg</icode><icode>Sys</icode><icode>Printexc</icode><icode>Gc</icode></mylist>
    </dli>
    <dli>effectuer diverses opérations:
      <mylist><icode>Digest</icode><icode>Random</icode><icode>Lexing</icode><icode>Parsing</icode><icode>Lazy</icode></mylist>
    </dli>
  </ul>
</dli>
</ul>
<ddiv><p>Des bibliothèques additionnelles sont disponibles selon les systèmes:
<mylist><icode>Unix</icode><icode>Dynlink</icode><icode>Str</icode><icode>Threads</icode><icode>...</icode></mylist>
</p></ddiv>
</slide>

<slide id="usingmods" title="Utiliser un module">
<p>Deux façons de faire référence à un élément d'un module:</p>
<ul>
<dli>Par son nom qualifié:
<ocaml-eval>List.length [ 1 ; 2 ; 3];;</ocaml-eval></dli>
<dli>En ajoutant à l'environnement courant les éléments d'un module:
<ocaml-eval>open List;; length [ 1 ; 2 ; 3];;</ocaml-eval></dli>
</ul>
<ddiv><p>Attention au masquage:</p>
<inc-code href="stdlib#code-openwarning"/>
</ddiv>
</slide>

<slide id="exceptions" title="Exceptions">
<ocaml>
try ...
with
  Exc1 -> ...
| Exc2 -> ...
</ocaml>
<ddiv>
Exemple:
<ocaml-eval toplevel="true">
let first_line file =
  try
    let ic = open_in file in
    try let line = input_line ic in close_in ic; line
    with End_of_file -> close_in ic; ""
  with
    Sys_error msg ->
      prerr_endline msg;
      ""
;;
first_line "/etc/passwd";;
first_line "/foo/bar";;
</ocaml-eval>
</ddiv>
<ddiv>Des exceptions sont prédéfinies dans le module <moduledoc name="Stdlib"/>.</ddiv>
<ddiv>
<ocaml-eval toplevel="true">
exception Mon_exception of string * int ;;
</ocaml-eval></ddiv>
</slide>

<slide id="tac" title="Exercice" mapto="stdlib#exotac">
<ocaml>type 'a option = None | Some of 'a</ocaml>
<inc-code href="stdlib#exotac"/>
</slide>

<slide id="words" title="Exercice" mapto="stdlib#exowords">
<inc-code href="stdlib#exowords"/>
</slide>
<!--
<slide id="next" title="A continuer">
La suite bientôt...
</slide>
-->
<slide id="missing" title="Ce que nous n'avons pas vu">
<ul>
<li><doc href="fonctionnelle#exceptions">Exceptions</doc>,</li>
<li><doc href="fonctionnelle#polyconst">Polymorphisme et contraintes de type</doc>,</li>
<li><doc href="modules/progmod">Modules</doc>,</li>
<li><doc href="imperative">Programmation impérative</doc>,</li>
<li><doc href="env">Les outils de développement</doc>,</li>
<li>Programmation objet,</li>
<li>...</li>
</ul>
</slide>


<slide id="tryocaml" title="TryOcaml">
<script type="text/javascript" src="widget.js"></script>
<script type="text/javascript">
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 30000,
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#000000',
      color: '#333'
    },
    tweets: {
      background: '#ddf4fb',
      color: '#15156b',
      links: '#0a0f07'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: false,
    behavior: 'default'
  }
}).render().setUser('tryocaml').start();
</script>
<div class="pathden" id="languages">_</div>
<a href="http://tryocaml.ocamlpro.com">TryOCaml</a> (thanks to <a href="http://ocamlpro.com/">OCamlPro</a>)
<div class="ocaml">
<div id="toplevel-container">
   <pre id="output"> Welcome to TryOCaml</pre>
   <div id="sharp">#</div>
   <div id="toplevel"> </div>
</div>
<div id="buttons"></div>
</div>
</slide>
<script type="text/javascript" src="try-ocaml.js"></script>

<!--<table class="zebra-striped">
  <tr><td id="text-enter">Enter / Return</td> <td id="text-submit">Submit code</td></tr>
  <tr><td id="text-arrows">Up / Down</td><td id="text-history">Cycle through history</td></tr>
  <tr><td id="text-newline">Shift + Enter</td><td id="text-multiline">Multiline edition</td></tr>
</table>
-->
<footer class="slide">
<h2>Merci!</h2>

</footer>
</contents>
</slideshow>

