<div itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting" class="doc-item">
<div class="doc-item-title">
<link itemprop="url" href="&lt;doc-url/&gt;"/>
<a href="&lt;doc-url/&gt;"><span itemprop="name"><doc-title/></span></a>
</div>
<div class="date"><doc-date/></div>
<if doc-type="post"><div itemprop="headline" class="doc-intro"><doc-intro/></div></if>
</div>