<div itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting" class="doc-item">
<div class="date"><doc-date/></div>
<div class="doc-item-title">
<if doc-type="news">
   <dummy_>
    <if doc-href="">
      <doc-title/>
      <doc href="&lt;doc-href/&gt;"><doc-title/></doc>
    </if>
  </dummy_>
  <dummy_>
    <link itemprop="url" href="&lt;doc-url/&gt;"/>
    <a href="&lt;doc-url/&gt;"><span itemprop="name"><doc-title/></span></a>
  </dummy_>
</if>
</div>
<if doc-type="post"><div itemprop="headline" class="doc-intro"><doc-intro/></div></if>
</div>