<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">>
<head>
<title><doc-title/> -- <site-title/></title><meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<link href="&lt;site-url/&gt;/style.css" rel="stylesheet" type="text/css"/>
<include file="fonts.tmpl"/>

<link href="/favicon.png" rel="shortcut icon" type="image/png"/>
</head>
<body>
<div id="page">
<div id="header">
<div id="site-title"><a href="&lt;site-url/&gt;/index.html"><site-title/></a></div>
<div class="site-desc"><site-description/></div>
</div>
<if doc-type="post"><div class="date"><doc-date/></div></if>
<if next-path="" previous-path=""><dummy_/>
  <div class="navbar">
    <if previous-path=""><dummy_/><div class="navleft"><doc href="&lt;previous-path/&gt;"/></div></if>
    <if next-path=""><dummy_/><div class="navright"><doc href="&lt;next-path/&gt;"/></div></if>
  </div>
</if>
<if doc-type="module"><div class="navbar"><doc href="intro"/></div></if>
<if doc-title="&lt;site-title/&gt;"><span> </span><div id="page-title"><doc-title/></div></if>
<if entete=""><span/><p class="alert alert-info"><entete/></p></if>
<div class="&lt;if draft=&quot;true&quot;&gt;&lt;dummy_&gt;draft&lt;/dummy_&gt;&lt;/if&gt;" id="doc-body">
<if doc-type="module">
  <dummy_>
    <prepare-notes><prepare-toc depth="2"><toc>Table des matières</toc><doc-body/></prepare-toc>
    <hr width="100%"/>
    <notes/>
    </prepare-notes>
  </dummy_>
  <doc-body/>
</if>
</div>
<if doc-type="post"><div class="comments">
<div>
<div class="doc-keywords">
  <div class="bloc-keywords">
  Thèmes: <div class="keywords"><doc-topics ep=","/></div>
  </div>
  <div class="bloc-keywords">
  Mots-clés: <div class="keywords"><doc-keywords sep=","/></div>
  </div>
</div>
</div>
<div class="section" itemprop="articleSection">
  <comments/>
</div>
</div>
</if>
</div>

<footer id="bottombar">
</footer>
</body>
<!--<script src="&lt;site-url/&gt;/jquery.js" type="text/javascript">_</script>
<script src="&lt;site-url/&gt;/bootstrap-collapse.js" type="text/javascript">_</script>-->
</html>