<html>
<head>
<title><site-title/> : <doc-title/></title><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="&lt;site-url/&gt;/style.css"></link>
<link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'></link>

<!--<script src="less.js" type="text/javascript">foo</script>-->
<link href="/favicon.png" rel="shortcut icon" type="image/png" />
<rssfeed/>
</head>
<body>
<div id="page">
<div id="header">
<div id="site-title"><a href="&lt;site-url/&gt;/index.html"><site-title/></a></div>
<div class="site-desc"><site-description/></div>
</div>
<if doc-type="post"><div class="date"><doc-date/></div></if>
<if previous-path="" next-path=""><main_/>
  <div class="navbar">
    <if previous-path=""><main_/><div class="navleft"><doc href="&lt;previous-path/&gt;"/></div></if>
    <if next-path=""><main_/><div class="navright"><doc href="&lt;next-path/&gt;"/></div></if>
  </div>
</if>
<if doc-type="module"><div class="navbar"><doc href="intro"/></div></if>
<if doc-title="&lt;site-title/&gt;"><span> </span><div id="page-title"><doc-title/></div></if>
<if entete=""><span/><p class="alert alert-info"><entete/></p></if>
<div id="doc-body">
<if doc-type="module">
  <main_>
    <prepare-notes><prepare-toc depth="2"><toc>Table des matières</toc><doc-body/></prepare-toc>
    <hr width="100%"/>
    <notes/>
    </prepare-notes>
  </main_>
  <doc-body/>
</if>
</div>
<if doc-type="post"><div class="comments">
<div>
<div class="doc-keywords">
  <div class="bloc-keywords">
  Thèmes: <div class="keywords"><doc-topics ep=", "/></div>
  </div>
  <div class="bloc-keywords">
  Mots-clés: <div class="keywords"><doc-keywords sep=", "/></div>
  </div>
</div>
</div>
<div itemprop="articleSection" class="section">
  <comments/>
</div>
</div>
</if>
</div>

<footer id="bottombar">
</footer>
</body>
<script type="text/javascript" src="&lt;site-url/&gt;/jquery.js">_</script>
<script type="text/javascript" src="&lt;site-url/&gt;/bootstrap-collapse.js">_</script>
</html>
