<div itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
<strong><doc-date/>:</strong>
<if doc-type="news">
  <dummy_>
    <if doc-href="">
      <doc-title/>
      <doc href="&lt;doc-href/&gt;"><doc-title/></doc>
    </if>
  </dummy_>
  <dummy_>
    <link itemprop="url" href="&lt;doc-url/&gt;"/>
    <a href="&lt;doc-url/&gt;"><span itemprop="name"><doc-title/></span></a>
  </dummy_>
</if>
</div>