<html xmlns="http://www.w3.org/1999/xhtml">>
<head>
<title><site-title/> : <doc-title/></title><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="&lt;site-url/&gt;/style.css"></link>
<!-- including files from https://github.com/LeaVerou/CSSS -->
<link rel="stylesheet" type="text/css" href="&lt;site-url/&gt;/slides/slideshow.css"></link>
<link rel="stylesheet" type="text/css" href="&lt;site-url/&gt;/slides/theme.css"></link>
<link rel="stylesheet" type="text/css" href="&lt;site-url/&gt;/slides/toplevel.css"></link>
<include file="fonts.tmpl"/>
</head>
<body>
<if slide-header="false"
><dummy_/>
<div class="slide-header">
  <div class="link"><a href="#tryocaml">TryOCaml</a></div>
</div>
</if>
<doc-body/>

<script src="classList.js">_</script>
<script src="slideshow.js">_</script>
<script>
var slideshow = new SlideShow();
</script>
</body>
<script type="text/javascript" src="&lt;site-url/&gt;/jquery.js">_</script>
<script type="text/javascript" src="&lt;site-url/&gt;/bootstrap-collapse.js">_</script>
</html>
